<div class="modal fade" id="updateScore" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cập nhật điểm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="linkToUpdateScore" method="POST">
                    <div class="card-body">
                        <div class="input-group mb-4">
                            <span class="input-group-addon">Điểm vòng 1:  </span>
                            <input type="number" class="form-control" name="score" min="0" max="110">
                        </div>
                        <div class="input-group mb-4">
                            <span class="input-group-addon">Điểm vòng 2: </i></span>
                            <input type="number" class="form-control" name="score" min="0" max="100">
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <button type="button" data-dismiss="modal" class="btn btn-secondary">Đóng</button>
                            </div>
                            <div class="col-6">
                                <button type="submit" class="btn btn-success">Cập Nhật</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>