<div class="author-box">
    <div class="author-img">
       <img src="/homepage/images/icon-image/author.jpg" alt="">
    </div>
    <!-- Author Img End -->
    <div class="author-info">
       <h3><%- item.userId.fullname %></h3>
       <p class="author-url"><a href="#">www.finances.com</a></p>
       <p>Life is good. Here we are in the last couple months of summer with its warm weather, family activities,
          getting ready for the children.</p>
    </div>
    <!-- Author Info End -->
 </div>