<div class="col-lg-4 col-md-12">
    <div class="sidebar sidebar-right">
       
       <!-- End Widget Search -->
       <div class="widget widget-cat">
          <h3 class="widget-title">Categories</h3>
          <span class="animate-border border-offwhite tw-mt-20"></span>
          <ul class="widget-list">
             <li><a href="#">Search Engine</a>
                <span class="posts-count">(05)</span>
             </li>
             <li><a href="#">Business</a>
                <span class="posts-count">(06)</span>
             </li>
             <li><a href="#">Marketing</a>
                <span class="posts-count">(11)</span>
             </li>
             <li><a href="#">We development</a>
                <span class="posts-count">(09)</span>
             </li>
             <li><a href="#">Seo Marketing</a>
                <span class="posts-count">(13)</span>
             </li>
             <li><a href="#">Web Traffice</a>
                <span class="posts-count">(13)</span>
             </li>
          </ul>
          <!-- End Widget List -->
       </div>
       <!-- Categories end -->
       <div class="widget widget-adds">
          <a href="#">
             <img src="/homepage/images/news/ad.jpg" alt="" class="img-fluid">
          </a>
       </div>
       <!-- End Widget Adds -->
       <div class="widget recent-posts">
          <h3 class="widget-title">Popular Posts</h3>
          <span class="animate-border border-offwhite tw-mt-20"></span>
          <ul class="unstyled clearfix">
             <li class="media">
                <div class="media-left media-middle">
                   <img alt="img" src="/homepage/images/news/post1.jpg">
                </div>
                <div class="media-body media-middle">
                   <h4 class="entry-title">
                      <a href="news-single.html">Online marketing optimize your business</a>
                   </h4>
                </div>
                <div class="clearfix"></div>
             </li>
             <!-- 1st post end-->
             <li class="media">
                <div class="media-left media-middle">
                   <img alt="img" src="/homepage/images/news/post3.jpg">
                </div>
                <div class="media-body media-middle">
                   <h4 class="entry-title">
                      <a href="news-single.html">Online marketing optimize your business</a>
                   </h4>
                </div>
                <div class="clearfix"></div>
             </li>
             <!-- 2nd post end-->
             <li class="media">
                <div class="media-left media-middle">
                   <img alt="img" src="/homepage/images/news/post2.jpg">
                </div>
                <div class="media-body media-middle">
                   <h4 class="entry-title">
                      <a href="news-single.html">Online marketing optimize your business</a>
                   </h4>
                </div>
                <div class="clearfix"></div>
             </li>
             <!-- 3rd post end-->
             <li class="media">
                <div class="media-left media-middle">
                   <img alt="img" src="/homepage/images/news/post3.jpg">
                </div>
                <div class="media-body media-middle">
                   <h4 class="entry-title">
                      <a href="news-single.html">Online marketing optimize your business</a>
                   </h4>
                </div>
                <div class="clearfix"></div>
             </li>
             <!-- 4th post end-->
          </ul>
       </div>
       <!-- Recent post end -->
       
       <!-- Tags end -->
    </div>
    <!-- End Sidebar Right -->
 </div>