<!doctype html>
<html lang="en">


<!-- Mirrored from demo.themewinter.com/html/seobin/news-single.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 05 Jan 2019 01:05:40 GMT -->

<head>
   <% include ../partials/head %>
   <title>Bài viết</title>
   
</head>

<body>
   

   <% include ../partials/canvas-menu %>
   <% include ../partials/navbar %>


   <div id="banner-area" class="banner-area" style="background-image:url(/homepage/images/banner/banner5.jpg)">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <div class="banner-heading">
                  <h1 class="banner-title">Our Blog</h1>
                  <ol class="breadcrumb">
                     <li>Home</li>
                     <li><a href="#">Blog</a></li>
                  </ol>
               </div>
            </div>
            <!-- Col end -->
         </div>
         <!-- Row end -->
      </div>
      <!-- Container end -->
   </div>
   <!-- Banner area end -->


   <section id="main-container" class="main-container">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 col-md-12">
               <div class="post-content post-single">
                  <div class="post-media post-image">
                     <img src="/homepage/images/news/post1.jpg" class="img-fluid" alt="">
                  </div>
                  <!-- End Post Media -->

                  <div class="post-body">

                     <!-- End Post Item Date -->
                     <% include ./entry-header %>
                     <!-- header end -->
                     <div class="entry-content">
                        <%- item.body %>
                     </div>
                     <hr>
                     <!-- End Entry Content -->
                     <div class="post-footer clearfix">
                        <div class="post-tags pull-left">
                           <strong>Tags: </strong>
                           <a href="#">Financial</a>
                           <a href="#">Our Advisor</a>
                           <a href="#">30K</a>
                        </div>
                        <!-- Post tags end -->

                        <div class="share-items pull-right">
                           <ul class="post-social-icons unstyled">
                              <li><strong>Share: </strong></li>
                              <!-- <li>
                                 <div class="fb-share-button" data-href="/bai-viet/view/<%- item._id %>" data-layout="button_count">
                                 </div>
                              </li> -->

                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                           </ul>
                        </div>
                        <!-- Share items end -->
                     </div>
                     <!-- Post footer end -->
                  </div>
                  <!-- End Post Body -->
               </div>
               <!-- Post Content End -->
               <% include ./author-box %>
               <!-- Author Box End -->
               <nav class="post-navigation clearfix">
                  <div class="post-previous">
                     <a href="#">
                        <h3>
                           Seven financial tips for people <br />in financial world
                        </h3>
                        <span><i class="icon icon-arrow-left"></i>Previous Post</span>
                     </a>
                  </div>
                  <!-- Previous End -->
                  <div class="post-next">
                     <a href="#">
                        <h3>
                           What exactly mutual, written<br /> by David Faulk
                        </h3>
                        <span>Next Post <i class="icon icon-arrow-right"></i></span>
                     </a>
                  </div>
                  <!-- Next End -->
               </nav>
               <!-- Post Nav End -->
               <div id="comments" class="comments-area">
                  <h3 class="comments-heading">05 Comments</h3>
                  <ul class="comments-list">
                     <li>
                        <div class="comment">
                           <img class="comment-avatar" alt="" src="/homepage/images/icon-image/avatar1.jpg">
                           <div class="comment-body">
                              <div class="meta-data">
                                 <span class="float-right">
                                    <a class="comment-reply" href="#">Reply</a>
                                 </span>
                                 <span class="comment-author">Jonhy Rick</span>
                                 <span class="comment-date">Dec 20, 2017</span>
                              </div>
                              <div class="comment-content">
                                 <p>Life is good. Here we are in the last couple months of summer with its warm
                                    weather, family
                                    activities, getting ready for the children.</p>
                              </div>
                           </div>
                        </div>
                        <!-- Comments end -->
                        <ul class="comments-reply">
                           <li>
                              <div class="comment">
                                 <img class="comment-avatar float-left" alt="" src="/homepage/images/icon-image/author.jpg">
                                 <div class="comment-body">
                                    <div class="meta-data">
                                       <span class="float-right">
                                          <a class="comment-reply" href="#">Reply</a>
                                       </span>
                                       <span class="comment-author">Adam Smith</span>
                                       <span class="comment-date">Dec 20, 2017</span>
                                    </div>
                                    <div class="comment-content">
                                       <p>Life is good. Here we are in the last couple months of summer with its warm
                                          weather,
                                          family activities, getting</p>
                                    </div>
                                 </div>
                              </div>
                              <!-- Comments end -->
                           </li>
                        </ul>
                        <!-- comments-reply end -->
                        <div class="comment">
                           <img class="comment-avatar float-left" alt="" src="/homepage/images/icon-image/avatar3.jpg">
                           <div class="comment-body">
                              <div class="meta-data">
                                 <span class="float-right">
                                    <a class="comment-reply" href="#">Reply</a>
                                 </span>
                                 <span class="comment-author">Henry kendel</span>
                                 <span class="comment-date">Dec 20, 2017</span>
                              </div>
                              <div class="comment-content">
                                 <p>Life is good. Here we are in the last couple months of summer with its warm
                                    weather, family
                                    activities, getting ready for the children.</p>
                              </div>
                           </div>
                        </div>
                        <!-- Comments end -->
                        <div class="comment last">
                           <img class="comment-avatar float-left" alt="" src="/homepage/images/icon-image/avatar4.jpg">
                           <div class="comment-body">
                              <div class="meta-data">
                                 <span class="float-right">
                                    <a class="comment-reply" href="#">Reply</a>
                                 </span>
                                 <span class="comment-author">Jasonm Paul</span>
                                 <span class="comment-date">Dec 20, 2017</span>
                              </div>
                              <div class="comment-content">
                                 <p>Life is good. Here we are in the last couple months of summer with its warm
                                    weather, family
                                    activities, getting ready for the children.</p>
                              </div>
                           </div>
                        </div>
                        <!-- Comments end -->
                     </li>
                     <!-- Comments-list li end -->
                  </ul>
                  <!-- Comments-list ul end -->
               </div>
               <!-- Comments Area End -->
               <div class="comments-form comment-border">
                  <h3 class="title-normal">Leave a comment</h3>
                  <form action="#">
                     <div class="row">
                        <div class="col-lg-6">
                           <div class="form-group">
                              <input class="form-control" name="name" id="name" placeholder="Full Name" type="text"
                                 required>
                           </div>
                        </div>
                        <!-- Col 4 end -->
                        <div class="col-lg-6">
                           <div class="form-group">
                              <input class="form-control" name="email" id="email" placeholder="Email Address" type="email"
                                 required>
                           </div>
                        </div>
                        <div class="col-lg-12">
                           <div class="form-group">
                              <input class="form-control" placeholder="Website" type="text" required>
                           </div>
                        </div>
                        <div class="col-lg-12">
                           <div class="form-group">
                              <textarea class="form-control required-field" id="message" placeholder="Comments" rows="5"
                                 required></textarea>
                           </div>
                        </div>
                        <!-- Col 12 end -->
                     </div>
                     <!-- Form row end -->
                     <div class="clearfix text-right">
                        <button class="btn btn-primary" type="submit">Post Comment</button>
                     </div>
                  </form>
                  <!-- Form end -->
               </div>
            </div>
            <!-- Content Col end -->


            <% include ./sidebar-right %>
            <!-- Sidebar Col end -->

         </div>
         <!-- Main row end -->
      </div>
      <!-- Container end -->
   </section>
   <!-- Main container end -->

   <% include ../partials/sponsors %>
   <% include ../partials/footer %>
   <!-- End Footer -->


   <!-- Javascripts File
      =============================================================================-->

   <!-- initialize jQuery Library -->

   <% include ../partials/scripts %>
</body>


<!-- Mirrored from demo.themewinter.com/html/seobin/news-single.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 05 Jan 2019 01:05:41 GMT -->

</html>