<section id="tw-case" class="tw-case">
		<div class="container">
			<div class="row text-center">
				<div class="col section-heading">
					<h2>
						<small>Success Stories</small>
						Our
						<span>Case Study</span>
					</h2>
					<!-- End Section Title -->
					<span class="animate-border border-offwhite ml-auto mr-auto tw-mt-20"></span>
				</div>
				<!-- End Col -->
			</div>
			<!-- End Row -->
			<div class="row">
				<div class="col-md-4 text-center">
					<div class="tw-case-study-box">
						<div class="case-img study-bg-1">
							<img src="/homepage/images/cases/case-study1.png" alt="" class="img-fluid">
						</div>
						<!-- End case img -->
						<div class="casestudy-content">
							<a href="#">
								<h4>Web Traffic Management</h4>
							</a>
							<p>SEO, Marketing</p>
						</div>
						<!-- End case study content -->
					</div>
					<!-- End case study box -->
				</div>
				<!-- End Col -->
				<div class="col-md-4 text-center">
					<div class="tw-case-study-box">
						<div class="case-img study-bg-2">
							<img src="/homepage/images/cases/case-study2.png" alt="" class="img-fluid">
						</div>
						<div class="casestudy-content">
							<a href="#">
								<h4>Web Traffic Management</h4>
							</a>
							<p>SEO, Marketing</p>
						</div>
						<!-- End case study content -->
					</div>
					<!-- End case study box -->
				</div>
				<!-- End Col -->
				<div class="col-md-4 text-center">
					<div class="tw-case-study-box">
						<div class="case-img study-bg-3">
							<img src="/homepage/images/cases/case-study3.png" alt="" class="img-fluid">
						</div>
						<div class="casestudy-content">
							<a href="#">
								<h4>Web Traffic Management</h4>
							</a>
							<p>SEO, Marketing</p>
						</div>
						<!-- End case study content -->
					</div>
					<!-- End case study box -->
				</div>
				<!-- End col -->
				<div class="col-md-12 text-center"><a href="#" class="btn btn-primary btn-lg tw-mt-80">view all</a></div>
			</div>
			<!-- End Row -->
		</div>
		<!-- Container End -->
	</section>
	<!-- TW case end -->