<section id="tw-mission" class="tw-mission testimonial-default-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mission-carousel owl-carousel carousel-black-dots">
						<div class="row">
							<div class="col-md-6 mr-auto align-self-md-center">
								<img src="/homepage/images/about/our_mission.png" alt="" class="img-fluid">
							</div>
							<!-- Col End -->
							<div class="col-md-6">
								<div class="mission-body">
									<div class="mission-title tw-mb-40">
										<h2 class="column-title text-black">Our Mission</h2>
										<span class="animate-border bg-white border-yellow tw-mt-20"></span>
									</div>
									<p>
										Mang đến sân chơi cho các bạn có khả năng, đam mê, hứng thú với lập trình web.
									</p>
								</div>
							</div>
							<!-- Col End -->
						</div>
						<!-- Content Row End -->
						<div class="row">
							<div class="col-md-6 mr-auto align-self-md-center">
								<img src="/homepage/images/about/our_mission.png" alt="" class="img-fluid">
							</div>
							<!-- Col End -->
							<div class="col-md-6">
								<div class="mission-body">
									<div class="mission-title tw-mb-40">
										<h2 class="column-title text-black">Our Mission</h2>
										<span class="animate-border bg-white border-yellow tw-mt-20"></span>
									</div>
									<p>
										Start working with an company that can provide everything you need to generate awareness, drive traffic,
										connect with customers,
										and increase sales nascetur ridiculus mus. massa quis enim. Donec pede justo.
									</p>
								</div>
							</div>
							<!-- Col End -->
						</div>
						<!-- Content Row End -->
						<div class="row animated fadeIn">
							<div class="col-md-6 mr-auto align-self-md-center">
								<img src="/homepage/images/about/our_mission.png" alt="" class="img-fluid">
							</div>
							<!-- Col End -->
							<div class="col-md-6">
								<div class="mission-body">
									<div class="mission-title tw-mb-40">
										<h2 class="column-title text-black">Our Mission</h2>
										<span class="animate-border bg-white border-yellow tw-mt-20"></span>
									</div>
									<p>
										Start working with an company that can provide everything you need to generate awareness, drive traffic,
										connect with customers,
										and increase sales nascetur ridiculus mus. massa quis enim. Donec pede justo.
									</p>
								</div>
							</div>
							<!-- Col End -->
						</div>
						<!-- Content Row End -->
					</div>
					<!-- Mission Carousel End -->
				</div>
				<!-- Col End -->
			</div>
			<!-- Row End -->
		</div>
		<!-- Container End -->
	</section>