<section id="tw-mission" class="tw-mission testimonial-default-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mission-carousel owl-carousel carousel-black-dots">
						<div class="row animated fadeIn">
							<div class="col-md-6 mr-auto align-self-md-center">
								<img src="/homepage/images/about/our_mission.png" alt="" class="img-fluid">
							</div>
							<!-- Col End -->
							<div class="col-md-6">
								<div class="mission-body">
									<div class="mission-title tw-mb-40">
										<h2 class="column-title text-black">Tầm nhìn</h2>
										<span class="animate-border bg-white border-yellow tw-mt-20"></span>
									</div>
									<p style="text-align: justify; font-size: 1em">
										Đưa CLB trở thành một trong những câu lạc bộ lớn mạnh, nhận được sự quan tâm và yêu thích của sinh viên và mở rộng
										quy mô tham gia không chỉ giới hạn là CLB của sinh viên UIT mà còn là của cả ĐHQG. <br><br>	
										Đẩy mạnh phong trào nghiên cứu khoa học trong sinh viên, hướng tới hội nhập quốc tế. <br><br>
										Xây dựng những tài liệu, giáo trình lập trình Web miễn phí, tiếp cận đến nhiều đối tượng không chỉ trong và ngoài trường,
										trẻ em và người lớn, học sinh hay công nhân đều có thể truy cập và học hỏi được.
									</p>
								</div>
							</div>
							<!-- Col End -->
						</div>
						<!-- Content Row End -->
						<div class="row animated fadeIn">
							<div class="col-md-6 mr-auto align-self-md-center">
								<img src="/homepage/images/about/our_mission.png" alt="" class="img-fluid">
							</div>
							<!-- Col End -->
							<div class="col-md-6">
								<div class="mission-body">
									<div class="mission-title tw-mb-40">
										<h2 class="column-title text-black">Sứ mệnh</h2>
										<span class="animate-border bg-white border-yellow tw-mt-20"></span>
									</div>
									<p style="text-align: justify; font-size: 1em">
										Tìm kiếm, hướng dẫn và giao lưu giữa các sinh viên. Đào tạo nguồn nhân lực chất lượng cao, đáp ứng yêu cầu việc làm
										trong ngành lập trình Web cho xã hội. <br><br>
										Tạo ra những sản phầm mang giá trị ý nghĩa, sáng tạo cho cộng đồng. <br><br>
										Trở thành một môi trường học tập và làm việc thân thiện, vững mạnh và văn minh; trách nhiệm cao với những công việc,
										dự án được giao phó, đảm nhiệm.
									</p>
								</div>
							</div>
							<!-- Col End -->
						</div>
						<!-- Content Row End -->
				 
						</div>
					<!-- Mission Carousel End -->
				</div>
				<!-- Col End -->
			</div>
			<!-- Row End -->
		</div>
		<!-- Container End -->
	</section>