<template>
	<section id="tw-testimonial-bg" class="tw-team">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="testimonial-box-carousel owl-carousel">
						<div class="tw-testimonial-box">
							<div class="testimonial-bg testimonial-bg-orange">
								<div class="testimonial-icon">
									<img src="/homepage/images/icon-image/testimonial1.png" alt="" class="img-fluid">
								</div>
							</div>
							<!-- End Testimonial bg -->
							<div class="testimonial-meta">
								<h4>
									Jason Stattham
									<small>CEO Microhost</small>
								</h4>
							</div>
							<!-- End Testimonial Meta -->
							<div class="testimonial-text">
								<p>One of the top 100 advertising more of marketing agencies knows what into an means to be the best</p>
								<i class="icon icon-quote2"></i>
							</div>
							<!-- End testimonial text -->
						</div>
						<!-- End Tw testimonial wrapper -->
						<div class="tw-testimonial-box">
							<div class="testimonial-bg testimonial-bg-green">
								<div class="testimonial-icon">
									<img src="/homepage/images/icon-image/testimonial1.png" alt="" class="img-fluid">
								</div>
							</div>
							<!-- End Testimonial bg -->
							<div class="testimonial-meta">
								<h4>
									Jason Stattham
									<small>CEO Microhost</small>
								</h4>
							</div>
							<!-- End Testimonial Meta -->
							<div class="testimonial-text">
								<p>One of the top 100 advertising more of marketing agencies knows what into an means to be the best</p>
								<i class="icon icon-quote2"></i>
							</div>
							<!-- End testimonial text -->
						</div>
						<!-- End Tw testimonial wrapper -->
						<div class="tw-testimonial-box">
							<div class="testimonial-bg testimonial-bg-yellow">
								<div class="testimonial-icon">
									<img src="/homepage/images/icon-image/testimonial1.png" alt="" class="img-fluid">
								</div>
							</div>
							<!-- End Testimonial bg -->
							<div class="testimonial-meta">
								<h4>
									Jason Stattham
									<small>CEO Microhost</small>
								</h4>
							</div>
							<!-- End Testimonial Meta -->
							<div class="testimonial-text">
								<p>One of the top 100 advertising more of marketing agencies knows what into an means to be the best</p>
								<i class="icon icon-quote2"></i>
							</div>
							<!-- End testimonial text -->
						</div>
						<!-- End Tw testimonial wrapper -->
						<div class="tw-testimonial-box">
							<div class="testimonial-bg testimonial-bg-yellow">
								<div class="testimonial-icon">
									<img src="/homepage/images/icon-image/testimonial1.png" alt="" class="img-fluid">
								</div>
							</div>
							<!-- End Testimonial bg -->
							<div class="testimonial-meta">
								<h4>
									Jason Stattham
									<small>CEO Microhost</small>
								</h4>
							</div>
							<!-- End Testimonial Meta -->
							<div class="testimonial-text">
								<p>One of the top 100 advertising more of marketing agencies knows what into an means to be the best</p>
								<i class="icon icon-quote2"></i>
							</div>
							<!-- End testimonial text -->
						</div>
						<!-- End Tw testimonial wrapper -->
						<div class="tw-testimonial-box">
							<div class="testimonial-bg testimonial-bg-yellow">
								<div class="testimonial-icon">
									<img src="/homepage/images/icon-image/testimonial1.png" alt="" class="img-fluid">
								</div>
							</div>
							<!-- End Testimonial bg -->
							<div class="testimonial-meta">
								<h4>
									Jason Stattham
									<small>CEO Microhost</small>
								</h4>
							</div>
							<!-- End Testimonial Meta -->
							<div class="testimonial-text">
								<p>One of the top 100 advertising more of marketing agencies knows what into an means to be the best</p>
								<i class="icon icon-quote2"></i>
							</div>
							<!-- End testimonial text -->
						</div>
						<!-- End Tw testimonial wrapper -->
						<div class="tw-testimonial-box">
							<div class="testimonial-bg testimonial-bg-yellow">
								<div class="testimonial-icon">
									<img src="/homepage/images/icon-image/testimonial1.png" alt="" class="img-fluid">
								</div>
							</div>
							<!-- End Testimonial bg -->
							<div class="testimonial-meta">
								<h4>
									Jason Stattham
									<small>CEO Microhost</small>
								</h4>
							</div>
							<!-- End Testimonial Meta -->
							<div class="testimonial-text">
								<p>One of the top 100 advertising more of marketing agencies knows what into an means to be the best</p>
								<i class="icon icon-quote2"></i>
							</div>
							<!-- End testimonial text -->
						</div>
						<!-- End Tw testimonial wrapper -->
						<div class="tw-testimonial-box">
							<div class="testimonial-bg testimonial-bg-yellow">
								<div class="testimonial-icon">
									<img src="/homepage/images/icon-image/testimonial1.png" alt="" class="img-fluid">
								</div>
							</div>
							<!-- End Testimonial bg -->
							<div class="testimonial-meta">
								<h4>
									Jason Stattham
									<small>CEO Microhost</small>
								</h4>
							</div>
							<!-- End Testimonial Meta -->
							<div class="testimonial-text">
								<p>One of the top 100 advertising more of marketing agencies knows what into an means to be the best</p>
								<i class="icon icon-quote2"></i>
							</div>
							<!-- End testimonial text -->
						</div>
						<!-- End Tw testimonial wrapper -->
						<div class="tw-testimonial-box">
							<div class="testimonial-bg testimonial-bg-yellow">
								<div class="testimonial-icon">
									<img src="/homepage/images/icon-image/testimonial1.png" alt="" class="img-fluid">
								</div>
							</div>
							<!-- End Testimonial bg -->
							<div class="testimonial-meta">
								<h4>
									Jason Stattham
									<small>CEO Microhost</small>
								</h4>
							</div>
							<!-- End Testimonial Meta -->
							<div class="testimonial-text">
								<p>One of the top 100 advertising more of marketing agencies knows what into an means to be the best</p>
								<i class="icon icon-quote2"></i>
							</div>
							<!-- End testimonial text -->
						</div>
						<!-- End Tw testimonial wrapper -->
						<div class="tw-testimonial-box">
							<div class="testimonial-bg testimonial-bg-yellow">
								<div class="testimonial-icon">
									<img src="/homepage/images/icon-image/testimonial1.png" alt="" class="img-fluid">
								</div>
							</div>
							<!-- End Testimonial bg -->
							<div class="testimonial-meta">
								<h4>
									Jason Stattham
									<small>CEO Microhost</small>
								</h4>
							</div>
							<!-- End Testimonial Meta -->
							<div class="testimonial-text">
								<p>One of the top 100 advertising more of marketing agencies knows what into an means to be the best</p>
								<i class="icon icon-quote2"></i>
							</div>
							<!-- End testimonial text -->
						</div>
						<!-- End Tw testimonial wrapper -->
					</div>
					<!-- Col end -->
				</div>
				<!-- Row End -->
			</div>
			<!-- Carousel End -->
		</div>
		<!-- Container End -->
	</section>
</template>