<section id="tw-pricing-three" class="tw-pricing">
		<div class="container">
			<div class="row">
				<div class="col section-heading text-center">
					<h2>
						<small>Pricing Table</small>
						Our <span>Pricing</span>
					</h2>
					<span class="animate-border ml-auto mr-auto tw-mt-20"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="tw-price-box bg-shrock">
						<div class="pricing-feaures">
							<div class="pricing-price">
								<sup>$</sup>
								<strong>49.99</strong>
								<small>/mo</small>
							</div>
							<!-- Pricing End -->
							<h3>Starter Plan</h3>
							<ul>
								<li>25 Analytics Compaign</li>
								<li>1,300 Keywords</li>
								<li>25 social media reviews</li>
								<li>1 Free Optimization</li>
							</ul>
						</div>
						<!-- Pricing Features End -->
						<a href="#" class="btn btn-dark tw-mt-30">buy now</a>
					</div>
					<!--  pricing box ends -->
				</div>
				<!-- COl end -->
				<div class="col-lg-3 col-md-6">
					<div class="tw-price-box bg-orange">
						<div class="pricing-feaures">
							<div class="pricing-price">
								<sup>$</sup>
								<strong>69.99</strong>
								<small>/mo</small>
							</div>
							<!-- Pricing End -->
							<h3>Starter Plan</h3>
							<ul>
								<li>25 Analytics Compaign</li>
								<li>1,300 Keywords</li>
								<li>25 social media reviews</li>
								<li>1 Free Optimization</li>
							</ul>
						</div>
						<!-- Pricing Features End -->
						<a href="#" class="btn btn-dark tw-mt-30">buy now</a>
					</div>
					<!--  pricing box ends -->
				</div>
				<!-- COl end -->
				<div class="col-lg-3 col-md-6">
					<div class="tw-price-box bg-green">
						<div class="pricing-feaures">
							<div class="pricing-price">
								<sup>$</sup>
								<strong>99.99</strong>
								<small>/mo</small>
							</div>
							<!-- Pricing End -->
							<h3>Advanced Plan</h3>
							<ul>
								<li>25 Analytics Compaign</li>
								<li>1,300 Keywords</li>
								<li>25 social media reviews</li>
								<li>1 Free Optimization</li>
							</ul>
						</div>
						<!-- Pricing Features End -->
						<a href="#" class="btn btn-dark tw-mt-30">buy now</a>
					</div>
					<!--  pricing box ends -->
				</div>
				<!-- COl end -->
				<div class="col-lg-3 col-md-6">
					<div class="tw-price-box bg-blue">
						<div class="pricing-feaures">
							<div class="pricing-price">
								<sup>$</sup>
								<strong>99.99</strong>
								<small>/mo</small>
							</div>
							<!-- Pricing End -->
							<h3>Advanced Plan</h3>
							<ul>
								<li>25 Analytics Compaign</li>
								<li>1,300 Keywords</li>
								<li>25 social media reviews</li>
								<li>1 Free Optimization</li>
							</ul>
						</div>
						<!-- Pricing Features End -->
						<a href="#" class="btn btn-dark tw-mt-30">buy now</a>
					</div>
					<!--  pricing box ends -->
				</div>
				<!-- COl end -->
			</div>
			<!-- Tab pane end -->
		</div>
		<!-- End Container -->
	</section>