<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include ../partials/header %>
  <link href="/assets/plugins/datatable/dataTables.bootstrap4.min.css" rel="stylesheet" />
</head>

<body class="">
  <div id="global-loader"></div>
  <div class="page">
    <div class="page-main">
      <% include ../partials/headerBar %>
      <% include ../partials/navbar %>

      <div class="my-3 my-md-5">
        <div class="container">
          <div class="page-header">
            <h4 class="page-title">Bài viết</h4>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Advanced UI</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Data Tables
              </li>
            </ol>
          </div>
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <div class="card">
                <div class="card-header">
                  <div class="row" style="width: 100%">
                    <div class="col-md-6">
                      <div class="card-title">Data Tables</div>
                    </div>
                    <div class="col-md-6 text-right">
                      <form action="/admin/passround-1" method="POST">
                        <button class="btn btn-outline-primary" type="submit"> Gửi random Code đến các đội</button>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                      <thead>
                        <tr>
                          <th class="wd-20p">Tên đội</th>
                          <th class="wd-20p">Random String</th>
                          <th class="wd-10p">Ngày hết hạn</th>
                          <th class="wd-5p">Hành động</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% randCode.map(item => { %>
                        <tr>
                          <td>
                            <%- item.teamId.teamName %>
                          </td>
                          <td>
                            <%- item.text %>
                          </td>
                          <td>
                            <%- item.expired %>
                          </td>
                          <td>
                            <a type="button" class="btn btn-icon btn-primary" href="/admin/bai-viet/<%- item._id %>/edit"><i
                                class="fe fe-edit"></i></a>
                          </td>
                        </tr>
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- table-wrapper -->
              </div>
              <!-- section-wrapper -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <% include ../partials/footer %>
  </div>

  <!-- Back to top -->
  <a href="#top" id="back-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a>
  <% include ../partials/scripts %>
  <!-- Data tables -->
  <script>
    var selectedId = "";
  </script>
  <script src="/assets/plugins/datatable/jquery.dataTables.min.js"></script>
  <script src="/assets/plugins/datatable/dataTables.bootstrap4.min.js"></script>
  <script>
    $(function (e) {
      $("#example").DataTable();
    });
    function selectedId(id) {
      selectedId = id;
    }
    function deletePosts() {
      console.log(selectedId)
      $.ajax({
        url: `/admin/bai-viet/${selectedId}`,
        method: "DELETE",
        success: function (result) {
          location.reload();
        }
      })
    }
  </script>
</body>

</html>