<div class="submit step">
    <h3 class="main_question">Dặn dò</h3>
    <p>Bạn đã hoàn tất các bước điền thông tin.</p>
    <p>Vui lòng bấm nút <b>Submit</b> để đăng kí.</p>
    <p>Và đến ngay quầy nộp lệ phí để giữ chỗ cho cuộc thi nha.</p>
</div>