<div class="step">
    <h3 class="main_question"><strong></strong>Điền đầy đủ các thông tin</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" name="teamName" class="form-control required" placeholder="Tên nhóm">
            </div>
        </div>
    </div>
    <!-- /row -->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="email" name="emailLeader" class="form-control required" placeholder="Email nhóm trưởng">
            </div>
        </div>
    </div>
    <!-- /row -->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="password" name="password" class="form-control required" placeholder="Mật khẩu">
            </div>
        </div>
    </div>
    <!-- /row -->
    <div class="row">
        <div class="col-md-12">
            <p>Email và Mật khẩu sẽ được sử dụng để nộp bài & checkin</p>
        </div>
    </div>
    <!-- /row -->
</div>