<!DOCTYPE html>
<html lang="en">
<style>
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
</style>
<% include ../partials/header%>

<body>
	
	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div><!-- /Preload -->
	
	<div id="loader_form">
		<div data-loader="circle-side-2"></div>
	</div><!-- /loader_form -->

	<% include ../partials/navbar%>
	<!-- End Header -->

	<main>
		<div id="form_container">
			<div class="row">
				<div class="col-lg-5">
					<div id="left_form">
						<figure><img src="/homepage/img/registration_bg.svg" alt=""></figure>
						<h2>Đăng kí đội thi đấu</h2>
						<p>thông tin gì đó về cuộc thi lập trình web</p>
						<a href="#0" id="more_info" data-toggle="modal" data-target="#more-info"><i class="pe-7s-info"></i></a>
					</div>
				</div>
				<div class="col-lg-7">

					<div id="wizard_container">
						<div id="top-wizard">
							<div id="progressbar"></div>
						</div>
						<!-- /top-wizard -->
						<form name="example-1" id="wrapped" action='/dang-ki' method="POST">
							<input id="website" name="website" type="text" value="">
							<!-- Leave for security protection, read docs for details -->
							<div id="middle-wizard">
								<!-- /step 1-->
								<% include ./form-register-team-info %>
								<!-- /step 2-->
								<% include ./form-register-leader %>
								<!-- /step 3-->
								<% include ./form-register-member %>
								<!-- /another step 3-->
								<% include ./form-register-member %>
								<!-- /another step 3-->
								<% include ./form-register-member %>
								<!-- /another step 3-->
								<% include ./form-register-member %>
								<!-- /step 4-->
								<% include ./form-register-submit %>
							</div>
							<!-- /middle-wizard -->
							<div id="bottom-wizard">
								<button type="button" name="backward" class="backward">Backward </button>
								<button type="button" name="forward" class="forward">Forward</button>
								<button type="submit" name="process" class="submit">Submit</button>
							</div>
							<!-- /bottom-wizard -->
						</form>
					</div>
					<!-- /Wizard container -->
				</div>
			</div><!-- /Row -->
		</div><!-- /Form_container -->
	</main>
	

	<!-- end footer-->
	<% include ../partials/footer%>

	<div class="cd-overlay-nav">
		<span></span>
	</div>
	<!-- cd-overlay-nav -->

	<div class="cd-overlay-content">
		<span></span>
	</div>
	<!-- cd-overlay-content -->

	<!-- SCRIPTS -->
	<% include ../partials/script%>
	<script src='/homepage/js/memberForm.js'></script>
</body>
</html>