<!DOCTYPE html>
<html lang="en">



<head>
	<style>
		input[type=number]::-webkit-inner-spin-button, 
		input[type=number]::-webkit-outer-spin-button { 
			-webkit-appearance: none; 
			margin: 0; 
		}
		body {
			background-image: url('/homepage/register/img/back.jpg') !important;
			background-repeat: repeat;
		}	
		
	</style>
	<% include ../partials/head %>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="MAVIA - Register, Reservation, Questionare, Reviews form wizard">
	<meta name="author" content="Ansonika">

	<!-- Favicons-->
	<link rel="apple-touch-icon" type="image/x-icon" href="/homepage/register/img/apple-touch-icon-57x57-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/homepage/register/img/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/homepage/register/img/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/homepage/register/img/apple-touch-icon-144x144-precomposed.png">

	<!-- GOOGLE WEB FONT -->

	<!-- BASE CSS -->
	<link href="/homepage/register/css/style.css" rel="stylesheet">
	<link href="/homepage/register/css/responsive.css" rel="stylesheet">
	<!-- <link href="/homepage/register/css/menu.css" rel="stylesheet"> -->
	<link href="/homepage/register/css/animate.min.css" rel="stylesheet">
	<link href="/homepage/register/css/icon_fonts/css/all_icons_min.css" rel="stylesheet">
	<link href="/homepage/register/css/skins/square/grey.css" rel="stylesheet">

	<!-- YOUR CUSTOM CSS -->
	<link href="/homepage/register/css/custom.css" rel="stylesheet">

	<script src="/homepage/register/js/modernizr.js"></script>
	<!-- Modernizr -->
	<title>Đăng kí</title>
</head>

<body>

	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div><!-- /Preload -->

	<div id="loader_form">
		<div data-loader="circle-side-2"></div>
	</div><!-- /loader_form -->

	<% include ../partials/canvas-menu %>
	<% include ../partials/navbar %>
	<!-- End Header -->

	<main>

		<div id="form_container">
			<div class='container'>
				<div class="row">
					<% if(data == 'error') { %>
					<div class=" col-md-12 alert alert-danger mb-0">
						<strong>Danger!</strong> <%- err %>
					</div>
					<% } else if (data == 'success') { %>
					<div class=" col-md-12 alert alert-success mb-0 ">
						<strong>Success!</strong> Đăng kí thành công!
					</div>
					<% } %>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-5">
					<div id="left_form">
						<figure><img src="/homepage/register/img/registration_bg.svg" alt=""></figure>
						<h2>Đăng kí đội thi đấu</h2>
						<p>thông tin gì đó về cuộc thi lập trình web</p>
					</div>
				</div>
				<div class="col-lg-7">

					<div id="wizard_container">
						<div id="top-wizard">
							<div id="progressbar"></div>
						</div>
						<!-- /top-wizard -->
						<form name="example-1" id="wrapped" action='/dang-ki' method="POST">
							<input id="website" name="website" type="text" value="">
							<!-- Leave for security protection, read docs for details -->
							<div id="middle-wizard">
								<!-- /step 1-->
								<% include ./form-register-team-info %>
								<!-- /step 2-->
								<% include ./form-register-leader %>
								<!-- /step 3-->
								<% include ./form-register-member %>
								<!-- /step 4-->
								<% include ./form-register-submit %>
							</div>
							<!-- /middle-wizard -->
							<div id="bottom-wizard">
								<button type="button" name="backward" class="backward">Backward </button>
								<button type="button" name="forward" class="forward">Forward</button>
								<button type="submit" name="process" class="submit">Submit</button>
							</div>
							<!-- /bottom-wizard -->
						</form>
					</div>
					<!-- /Wizard container -->
				</div>
			</div><!-- /Row -->
		</div><!-- /Form_container -->
	</main>

	<% include ../partials/footer %>
	<!-- end footer-->
	<div class="cd-overlay-nav">
		<span></span>
	</div>
	<!-- cd-overlay-nav -->

	<div class="cd-overlay-content">
		<span></span>
	</div>
	<!-- cd-overlay-content -->

	<!-- SCRIPTS -->
	<!-- Jquery-->
	<script src="/homepage/register/js/jquery-3.2.1.min.js"></script>
	<!-- Common script -->
	<script src="/homepage/register/js/common_scripts_min.js"></script>
	<!-- Wizard script -->
	<script src="/homepage/register/js/registration_wizard_func.js"></script>
	<!-- Theme script -->
	<script src="/homepage/register/js/functions.js"></script>
	<script src='/homepage/register/js/memberForm.js'></script>
	<script src="/homepage/js/popper.min.js"></script>
	<!-- Bootstrap jQuery -->
	<script src="/homepage/js/bootstrap.min.js"></script>
	<!-- Owl Carousel -->
	<script src="/homepage/js/owl-carousel.2.3.0.min.js"></script>
	<!-- Waypoint -->
	<script src="/homepage/js/waypoints.min.js"></script>
	<!-- Counter Up -->
	<script src="/homepage/js/jquery.counterup.min.js"></script>
	<!-- Video Popup -->
	<script src="/homepage/js/jquery.magnific.popup.js"></script>
	<!-- WOW JS -->
	<script src="/homepage/js/wow.min.js"></script>
	<!-- SmoothScroll JS -->
	<script src="/homepage/js/smoothscroll.js"></script>
	<!-- Template Custom -->
	<script src="/homepage/js/main.js"></script>
</body>

</html>