<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <select name="school" class="form-control" placeholder="Trường">
                <option value='ĐH Công Nghệ Thông Tin'>Công Nghệ Thông Tin</option>
                <option value='ĐH Bách Khoa'>Bách Khoa</option>
                <option value='ĐH Khoa Học Tự Nhiên'>Khoa Học Tự Nhiên</option>
            </select>
        </div>
    </div>
</div>