<!doctype html>
<html lang="en">


<!-- Mirrored from demo.themewinter.com/html/seobin/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 05 Jan 2019 01:05:19 GMT -->
<head>
  <% include ../partials/head %>
  <title>Contact Us</title>
</head>

<body>
   
  <% include ../partials/canvas-menu %>
  <!-- Off canvas menu End -->
  
  <% include ../partials/navbar %>

  
   <div id="banner-area" class="banner-area" style="background-image:url(/homepage/images/banner/banner5.jpg)">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <div class="banner-heading">
                  <h1 class="banner-title">Kế hoạch</h1>
                  <ol class="breadcrumb">
                     <li>Trang chủ</li>
                     <li>Cuộc thi Lập trình Web – Webdev Hackathon lần I năm 2019</li>
                  </ol>
               </div>
            </div>
            <!-- Col end -->
         </div>
         <!-- Row end -->
      </div>
      <!-- Container end -->
   </div>
   <!-- Banner area end -->


    <section id="main-container" class="main-container">
      <div class="container">
         <div class="row">
            <div class="col-lg-12 col-md-12">
               <div class="tw-faq-content">
                  <div class="section-heading">
                     <h3>Kế hoạch</h3>
                     <span class="tw-mt-20"></span>
                  </div>
                  <div id="accordion" role="tablist">
                     <div class="card ">
                        <div class="card-header" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                           aria-controls="collapseOne">
                           <h4>
                              <a>
                                 I.	Mục đích, yêu cầu
                                 <i class="faq-indicator fa fa-minus"></i>
                              </a>
                           </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                           <div class="card-block">
                               <div class="card ">
                                <div class="card-header" role="tab" id="headingsonone" data-toggle="collapse" data-parent="#headingOne" href="#collapseSonOne" aria-expanded="false"
                                   aria-controls="collapseSonOne">
                                   <h4>
                                      <a class="collapsed">
                                       	Mục đích
                                      <i class="faq-indicator fa fa-plus"></i>
                                   </a>
                                   </h4>
                                </div>
                                <div id="collapseSonOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsonone">
                                   <div class="card-block">
                                       <ol>
                                           <li>Tổ chức một cuộc thi học thuật nhằm giúp các sinh viên tham gia hiểu được cơ bản một dự án lập trình web.</li>
                                            <li>Giúp sinh viên chuẩn bị, làm quen với môi trường làm việc ở các công ty.</li>
                                            <li>Nhân rộng, định hướng cho sinh viên UIT có đam mê về mảng lập trình web.</li>
                                            <li>Giúp sinh viên hoàn thành tiêu chí “Học tập tốt” trong các chỉ tiêu hoàn thành “Sinh viên 5 tốt”.</li>
                                        </ol>
                                   </div>
                                </div>
                             </div>
                             <div class="card ">
                                 <div class="card-header" role="tab" id="collapseRequest-div" data-toggle="collapse" data-parent="#headingOne" href="#collapseRequest" aria-expanded="false"
                                    aria-controls="collapseRequest">
                                    <h4>
                                       <a class="collapsed">
                                             Yêu cầu
                                       <i class="faq-indicator fa fa-plus"></i>
                                    </a>
                                    </h4>
                                 </div>
                                 <div id="collapseRequest" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseRequest-div">
                                    <div class="card-block">
                                       <ul>
                                          <li>Ban tổ chức lên kế hoạch chương trình, triển khai và thực hiện đúng tiến độ đã đề ra.</li>
                                          <li>Sinh viên tham dự tuân thủ quy định của Ban tổ chức.</li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                              <!--end card-->
                           </div>
                        </div>
                     </div>
                     <!--end card-->
                     <div class="card ">
                        <div class="card-header" role="tab" id="headingObj" data-toggle="collapse" data-parent="#accordion" href="#collapseObj" aria-expanded="false"
                           aria-controls="collapseObj">
                           <h4>
                              <a>
                                 II.	Thời gian, địa điểm, đối tượng tham gia.
                                 <i class="faq-indicator fa fa-plus"></i>
                              </a>
                           </h4>
                        </div>
                        <div id="collapseObj" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingObj">
                           <div class="card-block">
                                 <h6><strong>Thời gian:</strong> 8h – 17h ngày 30 tháng 3 năm 2019</h6>
                                 <h6><strong>Địa điểm: </strong> Trường Đại học Công nghệ Thông tin – ĐHQG Tp. Hồ Chí Minh, Kp. 6, phường Linh Trung, quận Thủ Đức, Tp. Hồ Chí Minh.</h6>
                               <div class="card ">
                                <div class="card-header" role="tab" id="participation" data-toggle="collapse" data-parent="#headingObj" href="#collapsePart" aria-expanded="false"
                                   aria-controls="collapsePart">
                                   <h4>
                                      <a class="collapsed">
                                       		Đối tượng tham gia
                                      <i class="faq-indicator fa fa-plus"></i>
                                   </a>
                                   </h4>
                                </div>
                                <div id="collapsePart" class="panel-collapse collapse" role="tabpanel" aria-labelledby="participation">
                                   <div class="card-block">
                                       <ol>
                                           <li>Tất cả các sinh viên Trường Đại học Công nghệ Thông tin, cùng các sinh viên thuộc các trường Đại học trong khu vực có yêu thích và muốn thử sức với mảng lập trình web.</li>
                                            <li>Yêu cầu về kiến thức: Có kiến thức căn bản về lập trình web, các ngôn ngữ lập trình web phổ biến hiện nay.</li>
                                        </ol>
                                   </div>
                                </div>
                             </div>
                             <!--end card-->
                             <div class="card ">
                                 <div class="card-header" role="tab" id="collapseForm-div" data-toggle="collapse" data-parent="#headingObj" href="#collapseForm" aria-expanded="false"
                                    aria-controls="collapseForm">
                                    <h4>
                                       <a class="collapsed">
                                             Hình thức tham gia.
                                       <i class="faq-indicator fa fa-plus"></i>
                                    </a>
                                    </h4>
                                 </div>
                                 <div id="collapseForm" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseForm-div">
                                    <div class="card-block">
                                       <ul>
                                          <li>Đăng kí theo đội, mỗi đội gồm 2 thành viên.</li>
                                          <li>Lệ phí tham gia: 50 000 VNĐ/1 đội.</li>
                                          <li>Danh sách đội tham gia được Ban tổ chức tổng hợp và công bố trên các kênh chính thức của cuộc thi.</li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                              <!--end card-->
                           </div>
                        </div>
                     </div>
                     <!--end card-->
                     <div class="card ">
                        <div class="card-header" role="tab" id="headingContent" data-toggle="collapse" data-parent="#accordion" href="#collapseContent" aria-expanded="false"
                           aria-controls="collapseContent">
                           <h4>
                              <a>
                                    III.	Nội dung
                                 <i class="faq-indicator fa fa-plus"></i>
                              </a>
                           </h4>
                        </div>
                        <div id="collapseContent" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingContent">
                           <div class="card-block">
                                 <p>Là phần thi thiết kế một trang web cụ thể trên máy tính bằng ngôn ngữ lập trình chuyên nghiệp, nhằm khuyến khích giải quyết các yêu cầu thực tế từ các doanh nghiệp đồng thời khuyến khích phong cách làm việc tập thể, tính cộng đồng trong lĩnh vực Công nghệ thông tin.</p>
                                 <p><a href="/the-le">Thể lệ, luật thi (click).</a></p>
                                 <p><strong>Ngôn ngữ lập trình:</strong> Đội tuyển tự do chọn ngôn ngữ lập trình mà mình có thế mạnh và phù hợp để hoàn thành yêu cầu trong đề thi của ban tổ chức.</p>
                           </div>
                        </div>
                     </div>
                     <!--end card-->
                     
                     
                     <!-- panel-group -->
                  </div>
                  <!-- End Accordion -->
               </div>
               <!-- Faq content end -->
            </div>
            <!-- Content Col end -->
           

         </div>
         <!-- Main row end -->
      </div>
      <!-- Container end -->
   </section>
   <!-- Main container end -->
   
   
   <!-- TEstimonial end -->
   <% include ../partials/sponsors %>
   <% include ../partials/footer %>
   <!-- End Footer -->


   <!-- Javascripts File
      =============================================================================-->
   <% include ../partials/scripts  %>
    <!-- gmap3 -->
    <script src="/homepage/js/gmap3.min.js"></script>
    <!-- Gmap API Key -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsa2Mi2HqyEcEnM1urFSIGEpvualYjwwM"></script>
    <!-- WOW JS -->
</body>


<!-- Mirrored from demo.themewinter.com/html/seobin/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 05 Jan 2019 01:05:21 GMT -->
</html>