<!doctype html>
<html lang="en">


<!-- Mirrored from demo.themewinter.com/html/seobin/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 05 Jan 2019 01:05:19 GMT -->
<head>
  <% include ../partials/head %>
  <title>Contact Us</title>
</head>

<body>
    <% include ../partials/canvas-menu %>
    <!-- Off canvas menu End -->
  
    <% include ../partials/navbar %>
    <!-- End of Header area=-->


   <div id="banner-area" class="banner-area" style="background-image:url(/homepage/images/banner/banner5.jpg)">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <div class="banner-heading">
                  <h1 class="banner-title">Thể lệ & luật thi</h1>
                  <ol class="breadcrumb">
                     <li>Trang chủ</li>
                     <li><a href="#">thể lệ </a></li>
                  </ol>
               </div>
            </div>
            <!-- Col end -->
         </div>
         <!-- Row end -->
      </div>
      <!-- Container end -->
   </div>
   <!-- Banner area end -->


   <section id="main-container" class="main-container">
      <div class="container">
         <div class="row">
            <div class="col-lg-12 col-md-12">
               <div class="tw-faq-content">
                  <div class="section-heading">
                     <h3>Thể lệ & luật thi</h3>
                     <span class="tw-mt-20"></span>
                  </div>
                  <div id="accordion" role="tablist">
                     <div class="card ">
                        <div class="card-header" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                           aria-controls="collapseOne">
                           <h4>
                              <a>
                                 Thể lệ
                                 <i class="faq-indicator fa fa-minus"></i>
                              </a>
                           </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                           <div class="card-block">
                            Cuộc thi được tổ chức thành 02 vòng, vòng 1 không giới hạn số đội đăng kí.  Ở vòng này, các đội được tùy chọn địa điểm và phương tiện thi. Các đội nộp bài ở địa chỉ mà Ban tổ chức cung cấp. Ban tổ chức sẽ tổ chức chấm kín và công bố số điểm của các đội. Mười đội cao điểm nhất vòng 1 sẽ được thi đấu vòng 2. 
                            
                            Ở vòng 2, các đội đều phải có mặt tại địa điểm thi và sử dụng  hệ thống máy có cài đặt sẵn các phần mềm mà Ban tổ chức cung cấp. Ngoài các phần mềm đã cài đặt sẵn, các đội có thể tùy ý sử dụng thêm các phần mềm khác nằm ngoài phụ lục “Danh mục các phần mềm bị cấm sử dụng”. Sau khi hoàn thành bài thi, các đội có 5 phút để chạy thử sản phẩm và thuyết trình về bài thi. 
                            
                           </div>
                        </div>
                     </div>
                     <!--end card-->
                     <div class="card ">
                        <div class="card-header" role="tab" id="headingtwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                           aria-controls="collapseTwo">
                           <h4>
                              <a class="collapsed">
                                 Luật thi
                              <i class="faq-indicator fa fa-plus"></i>
                           </a>
                           </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingtwo">
                           <div class="card-block">
                            <div class="card ">
                                <div class="card-header" role="tab" id="headingsonone" data-toggle="collapse" data-parent="#collapseTwo" href="#collapseSonOne" aria-expanded="false"
                                   aria-controls="collapseSonOne">
                                   <h4>
                                      <a class="collapsed">
                                        	Vòng 1
                                      <i class="faq-indicator fa fa-plus"></i>
                                   </a>
                                   </h4>
                                </div>
                                <div id="collapseSonOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsonone">
                                   <div class="card-block">
                                       <ol>
                                           <li>Các đội bắt buộc phải hoàn thành lệ phí để xác nhận tham gia cuộc thi. </li>
                                            <li>Ở thời điểm cuộc thi vòng 1 bắt đầu, Ban tổ chức sẽ gửi Email cho đội trưởng của các đội. Trong đó bao gồm:
                                                <ol>
                                                    <li>Một thư mục chứa đề thi.</li>
                                                    <li>Một đường dẫn để nộp bài.</li>
                                                </ol>
                                            </li>
                                            <li>Ở vòng này, các đội sẽ hoàn thành phần “front – end” theo đề bài mà Ban tổ chức cung cấp trong thư mục. Các đội có 7 ngày kể từ lúc nhận được đề bài để hoàn thành bài thi. Sau khi hoàn thành bài thi, các đội nộp bài theo định dạng mà Ban tổ chức yêu cầu. Trong khoảng thời gian này, các đội có thể nộp bài ở đường dẫn mà BTC cung cấp bất cứ lúc nào. Thư viện hình ảnh, video, âm thanh,… mà các đội sử dụng phải được tải về máy và lưu trong một thư mục riêng, cùng thư mục với phần bài thi mà các đội đã nộp. Các đội nộp bài sớm sẽ được cộng điểm. Trong quá trình đường dẫn nộp bài còn mở, các đội có quyền gỡ bài đã nộp và nộp lại bài mới. Đối với mỗi lần như vậy, tổng thời gian hoàn thành bài thi sẽ được cộng thêm 1 giờ nhưng tổng cộng không quá 6 giờ cho toàn bài thi. Các đội không nộp bài hoặc đã gỡ bài nhưng chưa nộp lại sẽ đều được cho là “không nộp bài” và có tổng điểm là “0” cho bài thi. Những bài thi của các đội khác nhau nhưng giống nhau từ 40% trở lên thì các đội đó sẽ có tổng điểm là “0” cho bài thi của đội mình. Ban giám khảo sẽ chấm kín bài thi của các đội dựa trên phụ lục về “Quy chế chấm bài thi” và công bố điểm của từng đội chậm nhất sau 3 ngày kể từ khi đóng đường dẫn nộp bài. </li>
                                        </ol>
                                   </div>
                                </div>
                             </div>
                             <!--end card-->
                             <div class="card ">
                                <div class="card-header" role="tab" id="headingsontwo" data-toggle="collapse" data-parent="#collapseTwo" href="#collapseSonTwo"
                                   aria-expanded="false" aria-controls="collapseSonTwo">
                                   <h4>
                                      <a role="button" data-toggle="collapse" data-parent="#collapseTwo" href="#collapseSonTwo" aria-expanded="true" aria-controls="collapseSonTwo">
                                         Vòng 2
                                         <i class="faq-indicator fa fa-plus"></i>
                                      </a>
                                   </h4>
                                </div>
                                <div id="collapseSonTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsontwo">
                                   <div class="card-block">
                                       <ol style="list-style-type: circle">
                                           <li>16 đội cao điểm nhất vòng 1 sẽ được thi đấu vòng 2.</li>
                                           <li>Các đội hoàn thành trực tiếp bài thi ở địa điểm và phương tiện mà BTC chuẩn bị.</li>
                                           <li>Ở vòng này, các đội có 6 giờ liên tục tại địa điểm thi để hoàn thành phần “back end” và sửa lại phần “front – end” của đội mình (nếu cần) để thực hiện một số chức năng mà đề bài yêu cầu. Trong quá trình làm bài thi, các đội phải tự lưu bài thi của mình vào thư mục mà ban tổ chức yêu cầu. Trường hợp có sự cố về kĩ thuật, các đội sẽ tiếp tục bài thi của mình ở thư mục đó. Thời gian xử lí sự cố kĩ thuật không tính vào thời gian làm bài. Sau khi hoàn thành bài thi, các đội sẽ được giải lao nếu còn thời gian nhưng không được phép quay lại tiếp tục bài thi. Khi thời gian làm bài chính thức kết thúc, các đội có 5 phút để chạy thử sản phẩm và 5 phút để thuyết trình về sản phẩm của đội mình dưới sự chứng kiến của Ban giám khảo theo thứ tự điểm từ cao đến thấp của các đội ở vòng 1. Ban giám khảo sẽ công bố điểm và trao giải cho các đội đạt giải nhất, nhì, ba sau khi đội cuối cùng thuyết trình xong sản phẩm của đội đó.</li>
                                       </ol>
                                   </div>
                                </div>
                             </div>
                             <!--end card-->
                             <div class="card ">
                                <div class="card-header" role="tab" id="banned-app" data-toggle="collapse" data-parent="#collapseTwo" href="#bannedApp"
                                   aria-expanded="false" aria-controls="bannedApp">
                                   <h4>
                                      <a role="button" data-toggle="collapse" data-parent="#collapseTwo" href="#bannedApp" aria-expanded="true" aria-controls="bannedApp">
                                          Danh sách phần mềm cấm sử dụng trong cuộc thi
                                         <i class="faq-indicator fa fa-plus"></i>
                                      </a>
                                   </h4>
                                </div>
                                <div id="bannedApp" class="panel-collapse collapse" role="tabpanel" aria-labelledby="banned-app">
                                   <div class="card-block">
                                       <ol style="list-style-type: circle">
                                           <li>TeamViewer</li>
                                       </ol>
                                   </div>
                                </div>
                             </div>
                           </div>
                        </div>
                     </div>
                     <!--end card-->
                     
                     <!-- panel-group -->
                  </div>
                  <!-- End Accordion -->
               </div>
               <!-- Faq content end -->
            </div>
            <!-- Content Col end -->
           

         </div>
         <!-- Main row end -->
      </div>
      <!-- Container end -->
   </section>
   <!-- Main container end -->



  <!-- TEstimonial end -->
   <% include ../partials/sponsors %>
   <% include ../partials/footer %>
   <!-- End Footer -->
   <!-- Javascripts File -->
  <% include ../partials/scripts  %>
</body>


<!-- Mirrored from demo.themewinter.com/html/seobin/faq.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 05 Jan 2019 01:05:19 GMT -->
</html>