<!doctype html>
<html lang="en">


<!-- Mirrored from demo.themewinter.com/html/seobin/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 05 Jan 2019 01:05:19 GMT -->
<head>
  <% include ../partials/head %>
  <title>Contact Us</title>
  <style>
     table {
        width: 100%;
     }
      tr:nth-child(even) {
         background-color: #dddddd;
      }
  </style>
</head>

<body>
   
  <% include ../partials/canvas-menu %>
  <!-- Off canvas menu End -->
  
  <% include ../partials/navbar %>

  
   <div id="banner-area" class="banner-area" style="background-image:url(/homepage/images/banner/banner5.jpg)">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <div class="banner-heading">
                  <h1 class="banner-title">Quy chế chấm điểm</h1>
                  <ol class="breadcrumb">
                     <li>Home</li>
                     <li><a href="#">Quy chế chấm điểm</a></li>
                  </ol>
               </div>
            </div>
            <!-- Col end -->
         </div>
         <!-- Row end -->
      </div>
      <!-- Container end -->
   </div>
   <!-- Banner area end -->


   <section id="main-container" class="main-container">
      <div class="container">
         <div class="row">
            <div class="col-lg-12 col-md-12">
               <div class="tw-faq-content">
                  <div class="section-heading">
                     <h3>Quy tắc chấm điểm</h3>
                     <span class="tw-mt-20"></span>
                  </div>
                  <div id="accordion" role="tablist">
                     <div class="card ">
                        <div class="card-header" role="tab" id="round1" data-toggle="collapse" data-parent="#accordion" href="#collapseRound1" aria-expanded="true"
                           aria-controls="collapseRound1">
                           <h4>
                              <a>
                                 Vòng 1
                                 <i class="faq-indicator fa fa-minus"></i>
                              </a>
                           </h4>
                        </div>
                        <div id="collapseRound1" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="round1">
                           <div class="card-block">
                               <table>
                                  <thead>
                                       <tr>
                                          <th>Tiêu chí</th>
                                          <th>Điểm</th>
                                       </tr>
                                  </thead>
                                  <tbody> 
                                     <tr>
                                        <td>Đúng yêu cầu</td>
                                        <td>30</td>
                                     </tr>
                                     <!--end row-->
                                     <tr>
                                        <td>Đáp ứng responsive trên tất cả các thiết bị</td>
                                        <td>15</td>
                                     </tr>
                                     <!--end row-->
                                     <tr>
                                        <td>Bình chọn từ khán giả	</td>
                                        <td>15</td>
                                     </tr>
                                     <!--end row-->
                                     <tr>
                                        <td>Giao diện trực quan, dễ tiếp cận người dùng</td>
                                        <td>10</td>
                                     </tr>
                                     <!--end row-->
                                     <tr>
                                        <td>Seo (kết quả dựa trên google…)</td>
                                        <td>10</td>
                                     </tr>
                                     <!--end row-->
                                     <tr>
                                        <td>Sáng tạo</td>
                                        <td>10</td>
                                     </tr>
                                     <!--end row-->
                                     <tr>
                                        <td>Khả năng phát triển, nâng cấp</td>
                                        <td>10</td>
                                     </tr>
                                     <!--end row-->
                                     <tr>
                                        <td>Thời gian nộp bài (*)</td>
                                        <td>10</td>
                                     </tr>
                                     <!--end row-->
                                     <tr>
                                        <th>Tổng</th>
                                        <th>110</th>
                                     </tr>
                                     <!--end row-->
                                  </tbody>
                                  <tfoot>
                                     <th>(*) Là điểm cộng thêm, mười đội nộp bài sớm nhất sẽ được cộng 10 điểm mỗi đội, các đội sau không được điểm cộng</th>
                                  </tfoot>
                               </table>
                           </div>
                           <!--end card block-->
                        </div>
                     </div>
                     <!--end card-->
                     <div class="card ">
                        <div class="card-header" role="tab" id="headingObj" data-toggle="collapse" data-parent="#accordion" href="#collapseObj" aria-expanded="false"
                           aria-controls="collapseObj">
                           <h4>
                              <a>
                                 Vòng 2
                                 <i class="faq-indicator fa fa-plus"></i>
                              </a>
                           </h4>
                        </div>
                        <div id="collapseObj" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingObj">
                           <div class="card-block">
                                 <table>
                                    <thead>
                                       <tr>
                                             <th>Tiêu chí</th>
                                             <th>Điểm</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr>
                                          <td>Thuyết trình trước Ban giám khảo</td>
                                          <td>50</td>
                                       </tr>
                                       <!--end row-->
                                       <tr>
                                          <td>Đảm bảo các yêu cầu của đề bài	20</td>
                                          <td>20</td>
                                       </tr>
                                       <!--end row-->
                                       <tr>
                                          <td>Truy vấn nhanh, phù hợp, cơ sở dữ liệu tối ưu</td>
                                          <td>15</td>
                                       </tr>
                                       <!--end row-->
                                       <tr>
                                          <td>Bảo mật dữ liệu, thông tin người dùng</td>
                                          <td>15</td>
                                       </tr>
                                       <!--end row-->
                                       <tr>
                                          <th>Tổng</th>
                                          <th>100</th>
                                       </tr>
                                       <!--end row-->
                                    </tbody>
                                 </table>
                           </div>
                        </div>
                     </div>
                     <!--end card-->
                     
                     
                     <!-- panel-group -->
                  </div>
                  <!-- End Accordion -->
               </div>
               <!-- Faq content end -->
            </div>
            <!-- Content Col end -->
           

         </div>
         <!-- Main row end -->
      </div>
      <!-- Container end -->
   </section>
   <!-- Main container end -->
   
   
   <!-- TEstimonial end -->
   <% include ../partials/sponsors %>
   <% include ../partials/footer %>
   <!-- End Footer -->


   <!-- Javascripts File
      =============================================================================-->
   <% include ../partials/scripts  %>
    <!-- gmap3 -->
    <script src="/homepage/js/gmap3.min.js"></script>
    <!-- Gmap API Key -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsa2Mi2HqyEcEnM1urFSIGEpvualYjwwM"></script>
    <!-- WOW JS -->
</body>


<!-- Mirrored from demo.themewinter.com/html/seobin/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 05 Jan 2019 01:05:21 GMT -->
</html>