<!doctype html>
<html lang="en" dir="ltr">
	
<head>
  <% include ./partials/header %>
</head>
	<body class="" >
		<div id="global-loader" ></div>
		<div class="page">
			<div class="page-main">
				
				<% include ./partials/headerBar %>
				<% include ./partials/navbar %>

				<div class="my-3 my-md-5">
					<div class="container">
						<div class="page-header">
							<h4 class="page-title">Dashboard</h4>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Dashboard 01</li>
							</ol>
						</div>
						<% include ./partials/statistical-card %>
					</div>
				</div>
			</div>

      <% include ./partials/footer %>
      
		
		<!-- Back to top -->
		<a href="#top" id="back-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a>

		<% include ./partials/scripts %>

	</body>

</html>