<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>
<body>
	<% include partials/canvas-menu %>
  <% include ../partials/navbar %>


  <div id="preloader">
    <div data-loader="circle-side"></div>
  </div><!-- /Preload -->


  <!-- End Header -->

  <div class="container">
    <label for="" class="align-self-center">Thời gian còn lại</label>
  </div>

  <div class="countdown countdown-container container">
    <div class="clock row">
      <!-- /.clock-item -->
      <div class="clock-item align-self-center countdown-time-value col-3">
        <div class="inner">
          <div class="text">
            <p class="val" id='daysCount'>0</p>
            <p class="type-days type-time">DAYS</p>
          </div><!-- /.text -->
        </div><!-- /.inner -->
      </div><!-- /.clock-item -->

      <div class="clock-item countdown-time-value col-3">
        <div class="inner ">
          <div class="text">
            <p class="val" id='hoursCount'>0</p>
            <p class="type-hours type-time">HOURS</p>
          </div><!-- /.text -->
        </div><!-- /.inner -->
      </div><!-- /.clock-item -->

      <div class="clock-item countdown-time-value col-3">
        <div class="inner ">
          <div class="text">
            <p class="val" id='minsCount'>0</p>
            <p class="type-minutes type-time">MINUTES</p>
          </div><!-- /.text -->
        </div><!-- /.inner -->
      </div><!-- /.clock-item -->

      <div class="clock-item countdown-time-value col-3">
        <div class="inner ">
          <div class="text">
            <p class="val" id='secondsCount'>0</p>
            <p class="type-seconds type-time">SECONDS</p>
          </div><!-- /.text -->
        </div><!-- /.inner -->
      </div><!-- /.clock-item -->

    </div><!-- /.clock -->
  </div><!-- /.countdown-wrapper -->

  <hr>

  <div class="container">
    <div class="row">
      <div class="">
        <h3>Submit project( file/ zip/ rar)</h3>
        <form action="/submit/vong1" id="upload_form" enctype="multipart/form-data" method="post">
          <input type="file" name="file1" id="file1"><br><br>
          <input type="submit" value="Submit">
        </form>
      </div>

    </div>
  </div>
  <!-- end footer-->
  <% include ../partials/sponsors %>
  <% include ../partials/footer %>

  <div class="cd-overlay-nav">
    <span></span>
  </div>
  <!-- cd-overlay-nav -->

  <div class="cd-overlay-content">
    <span></span>
  </div>
  <!-- cd-overlay-content -->

  <!-- SCRIPTS -->
  <% include ../partials/scripts %>

  <script type="text/javascript">

    var daysCount = document.getElementById('daysCount');
    var hoursCount = document.getElementById('hoursCount');
    var minsCount = document.getElementById('minsCount');
    var secondsCount = document.getElementById('secondsCount');

    countdown();

    function countdown() {
      // ATTENTION - Ianuary is 0, February is 1 ......
      // year 2019 , month  0-11 ,day  1-31 , hour 0-23, minute 0-59, sec 0-59, millisec 0-999
      var launch_date = new Date(Date.UTC(2019, 1, 15, 12 - 7, 0));
      // year,m, d ,hour -7, min
      var days;
      var hours;
      var minutes;
      var seconds;
      var rest;
      var now = new Date();
      seconds = rest = Math.floor(((launch_date.getTime() - now.getTime()) / 1000));
      days = zero(Math.floor(seconds / 86400));
      seconds -= days * 86400;

      hours = zero(Math.floor(seconds / 3600));
      seconds -= hours * 3600;

      minutes = zero(Math.floor(seconds / 60));
      seconds -= minutes * 60;

      seconds = zero(Math.floor(seconds));

      function zero(n) {
        return (n < 10 ? '0' : false) + n;
      }

      rest <= 0 ? days = hours = minutes = seconds = '00' : setTimeout(countdown, 1000);

      daysCount.innerHTML = days;
      hoursCount.innerHTML = hours;
      minsCount.innerHTML = minutes;
      secondsCount.innerHTML = seconds;
    }

    function _(el) {
      return document.getElementById(el);
    }

    var linkElement = document.createElement("link");
    linkElement.rel = "stylesheet";
    linkElement.href = "/homepage/css/countdown.css"; //Replace here

    document.head.appendChild(linkElement);
  </script>
</body>

</html>