 
  
.countdown>.row {
	background-color: rgba(44,62,80 , 0.6 );
	background-image: url('/homepage/images/countdown/pattern.png');
	background-position: center;
	background-repeat: repeat;
}
.countdown-container {
	background-image: url('/homepage/images/countdown/logo.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;	
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}
.clock-item .inner {
	height: 0px;
	position: relative;	
	width: 100%;
	background-color: rgba(255, 255, 255, .1);
	border-radius: 50%;
	padding-top: 100%;
	box-shadow: 0 0 8px 4px #9f8c52;
}
.clock-item {
	vertical-align: middle;
}
.text {
	
	color: #fff;	
	font-weight: bold;	
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	width: 100%;
}

.text .val {
	font-size: 3em;
}

.text .type-time {
	font-size: 1.5em;
}

 