<!doctype html>
<html lang="en">


<!-- Mirrored from demo.themewinter.com/html/seobin/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 05 Jan 2019 01:04:17 GMT -->

<head>
	<title>CUỘC THI LẬP TRÌNH WEB - UIT</title>
	<% include partials/head %>
</head>

<body>
	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div><!-- /Preload -->

	<div id="loader_form">
		<div data-loader="circle-side-2"></div>
	</div><!-- /loader_form -->
	<% include partials/canvas-menu %>
	<!-- header======================-->
	<% include partials/navbar %>
	<!-- End of Header area=-->

	<!-- Start hero slider/ Owl Carousel Slider -->
	<% include partials/head-slider %>
	<!-- End Carousel -->

	<!-- Service Features -->
	<% include partials/element/news %>
	<!-- Service Features End -->

	<% include partials/element/working-process %>
	<!-- Working Process End -->

	<% include partials/element/mission %>
	<!-- Mission End -->

	<% include partials/element/best-teams %>
	<!-- Best team -->

	<% include partials/sponsors %>

	<% include partials/footer %>
	<!-- End Footer -->

	<!-- Javascripts File
      =============================================================================-->
	<% include partials/scripts %>
</body>

<!-- Mirrored from demo.themewinter.com/html/seobin/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 05 Jan 2019 01:04:42 GMT -->

</html>