<!doctype html>
<html lang="en">


<!-- Mirrored from demo.themewinter.com/html/seobin/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 05 Jan 2019 01:04:17 GMT -->
<% include partials/head %>

<body>

	<div class="offcanvas-menu">
		<div class="offcanvas-menu-overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="offcanvas-wrapper">
						<div class="offcanvas-inner">
							<a href="index.html" class="logo">
								<img src="/homepage/images/logo/logo.png" alt="">
							</a>
							<p>Start working with an company that can provide everything you need to generate awareness, drive traffic,
								connect with customers, and increase sales montes, nascetur ridiculus mus</p>
							<div class="row">
								<div class="col-md-12">
									<div class="contact-us">
										<div class="contact-icon">
											<i class="icon icon-map2"></i>
										</div>
										<!-- End contact Icon -->
										<div class="contact-info">
											<h3>New York, USA</h3>
											<p>1010 Grand Avenue</p>
										</div>
										<!-- End Contact Info -->
									</div>
									<!-- End Contact Us -->
								</div>
								<!-- End Col -->
								<div class="col-md-12">
									<div class="contact-us">
										<div class="contact-icon">
											<i class="icon icon-phone3"></i>
										</div>
										<!-- End contact Icon -->
										<div class="contact-info">
											<h3>009-215-5596</h3>
											<p>Give us a call</p>
										</div>
										<!-- End Contact Info -->
									</div>
									<!-- End Contact Us -->
								</div>
								<!-- End Col -->
								<div class="col-md-12">
									<div class="contact-us">
										<div class="contact-icon">
											<i class="icon icon-envelope3"></i>
										</div>
										<!-- End contact Icon -->
										<div class="contact-info">
											<h3>mail@example.com</h3>
											<p>24/7 online support</p>
										</div>
										<!-- End Contact Info -->
									</div>
									<!-- End Contact Us -->
								</div>
								<!-- End Col -->
							</div>
							<!-- End Contact Row -->
							<div class="footer-social-link">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
								</ul>
							</div>
							<div class="menu-subscribe">
								<h3>
									Subscribe
									<span class="noanimate-border"></span>
								</h3>
								<form action="#">
									<div class="form-row">
										<div class="col tw-footer-form">
											<input type="email" class="form-control" placeholder="Email Address">
											<button type="submit"><i class="fa fa-send"></i></button>
										</div>
									</div>
								</form>
							</div>
						</div>
						<!-- Offcanvas inner end -->
						<button class="menu-close-btn"><i class="fa fa-close"></i></button>
					</div>
					<!-- Offcanvas wrapper end -->
				</div>
				<!-- Col End -->
			</div>
			<!-- Row End -->
		</div>
		<!-- Container End -->
	</div>
	<!-- Off canvas menu End -->



	<!-- header======================-->
	<% include partials/navbar %>
	<!-- End of Header area=-->

	<!-- Start hero slider/ Owl Carousel Slider -->
	<div class="tw-hero-slider owl-carousel">

		<div class="slider-1">
			<!-- Slider arrow end -->
			<div class="slider-wrapper d-table">
				<div class="slider-inner d-table-cell">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-md-6">
								<img src="/homepage/images/slider/slider4.png" alt="" class="img-fluid slider-img">
							</div>
							<!-- Col end -->
							<div class="col-md-6">
								<div class="slider-content">
									<h1>Digital <span>Marketing</span> Solution </h1>
									<p>Start working with an company that provide everything you need to generate awareness, drive traffic,
										connect with customers, and increase sales montes</p>
									<a href="#" class="btn btn-primary">Free Analysis</a>
								</div>
								<!-- End Slider Content -->
							</div>
							<!-- col end -->
						</div>
						<!-- Row End -->
					</div>
					<!-- COntainer End -->
				</div>
				<!-- Slider Inner End -->
			</div>
			<!-- Slider Wrapper End -->
		</div>
		<!-- Slider 1 end -->

		<div class="slider-2">
			<div class="slider-wrapper d-table">
				<div class="slider-inner d-table-cell">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-md-6">
								<div class="slider-content">
									<h1>We are Creating Custom
										<span>SEO</span>
									</h1>
									<p>Start working with an company that provide everything you need to generate awareness, drive traffic,
										connect with customers, and increase sales montes</p>
									<a href="#" class="btn btn-dark">Free Analysis</a>
								</div>
							</div>
							<!-- Col end -->
							<div class="col-md-6">
								<img src="/homepage/images/slider/slider2.png" alt="" class="img-fluid slider-img">
							</div>
							<!-- col end -->
						</div>
						<!-- Row End -->
					</div>
					<!-- Container End -->
				</div>
				<!-- Slider Inner End -->
			</div>
			<!-- Slider Wrapper End -->
		</div>
		<!-- Slider 2 end -->
		<div class="slider-3">
			<div class="slider-wrapper d-table">
				<div class="slider-inner d-table-cell">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-md-6">
								<img src="/homepage/images/slider/slider3.png" alt="" class="img-fluid slider-img">
							</div>
							<!-- col end -->
							<div class="col-md-6">
								<div class="slider-content">
									<h1>We are Creating Custom
										<span>SEO</span>
									</h1>
									<p>Start working with an company that provide everything you need to generate awareness, drive traffic,
										connect with customers, and increase sales montes</p>
									<a href="#" class="btn btn-dark">Free Analysis</a>
								</div>
							</div>
							<!-- Col end -->
						</div>
						<!-- Row End -->
					</div>
					<!-- Container End -->
				</div>
				<!-- Slider Inner End -->
			</div>
			<!-- Slider Wrapper End -->
		</div>
		<!-- Slider 3 end -->
	</div>
	<!-- End Carousel -->

	<section id="tw-service-features" class="tw-service-features">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section-heading">
						<h2>
							<small>Our Features</small>
							Our Best <span>Features</span>
						</h2>
						<span class="animate-border ml-auto mr-auto tw-mt-20 tw-mb-40"></span>
					</div>
					<!-- Heading End -->
				</div>
				<!-- Col End -->
			</div>
			<!-- Heading Row End -->
			<div class="row">
				<div class="col-md-4 text-center">
					<div class="tw-service-features-box">
						<div class="service-feature-icon-bg service-bg-icon-1">
							<div class="service-feature-icon">
								<img src="/homepage/images/icon/service1.png" alt="">
							</div>
						</div>
						<h3>Social Marketing</h3>
						<p>Start working with an company that provide everything you need to any</p>
						<a href="#" class="tw-readmore">Read More</a>
					</div>
					<!-- Features box End -->
				</div>
				<!-- Col End -->
				<div class="col-md-4 text-center">
					<div class="tw-service-features-box">
						<div class="service-feature-icon-bg service-bg-icon-1">
							<div class="service-feature-icon">
								<img src="/homepage/images/icon/service2.png" alt="">
							</div>
						</div>
						<h3>Mobile Optimization</h3>
						<p>Start working with an company that provide everything you need to any</p>
						<a href="#" class="tw-readmore">Read More</a>
					</div>
					<!-- Features box End -->
				</div>
				<!-- Col End -->
				<div class="col-md-4 text-center">
					<div class="tw-service-features-box">
						<div class="service-feature-icon-bg service-bg-icon-1">
							<div class="service-feature-icon">
								<img src="/homepage/images/icon/service3.png" alt="">
							</div>
						</div>
						<h3>Reputation Management</h3>
						<p>Start working with an company that provide everything you need to any</p>
						<a href="#" class="tw-readmore">Read More</a>
					</div>
					<!-- Features box End -->
				</div>
				<!-- Col End -->
			</div>
			<!-- Content Row End -->
		</div>
		<!-- Container End -->
	</section>
	<!-- Service Features End -->

	<section id="tw-case-working-process" class="tw-case-working-process bg-offwhite">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section-heading">
						<h2>
							<small>easy steps</small>
							Our Working <span>Process</span>
						</h2>
						<span class="animate-border ml-auto mr-auto tw-mt-20"></span>
					</div>
				</div>
				<!-- Col End -->
			</div>
			<!-- Title Row End -->
			<div class="row">
				<div class="col-md-3 text-center">
					<div class="tw-case-working-box">
						<div class="working-icon-wrapper">
							<div class="working-icon">
								<img src="/homepage/images/icon/process1.png" alt="" class="img-fluid">
								<span class="case-process-number">1</span>
							</div>
						</div>
						<!-- Icon Wrapper End -->
						<h3>01. Research Project</h3>
					</div>
					<!-- Working Box End -->
				</div>
				<!-- Col End -->
				<div class="col-md-3 text-center">
					<div class="tw-case-working-box">
						<div class="working-icon-wrapper">
							<div class="working-icon">
								<img src="/homepage/images/icon/process2.png" alt="" class="img-fluid">
								<span class="case-process-number">2</span>
							</div>
						</div>
						<!-- Icon Wrapper End -->
						<h3>02. Find Ideas</h3>
					</div>
					<!-- Working Box End -->
				</div>
				<!-- Col End -->
				<div class="col-md-3 text-center">
					<div class="tw-case-working-box">
						<div class="working-icon-wrapper">
							<div class="working-icon">
								<img src="/homepage/images/icon/process3.png" alt="" class="img-fluid">
								<span class="case-process-number">3</span>
							</div>
						</div>
						<!-- Icon Wrapper End -->
						<h3>03. Start Optimize</h3>
					</div>
					<!-- Working Box End -->
				</div>
				<!-- Col End -->
				<div class="col-md-3 text-center">
					<div class="tw-case-working-box">
						<div class="working-icon-wrapper">
							<div class="working-icon">
								<img src="/homepage/images/icon/process4.png" alt="" class="img-fluid">
								<span class="case-process-number">4</span>
							</div>
						</div>
						<!-- Icon Wrapper End -->
						<h3>04. Reach Target</h3>
					</div>
					<!-- Working Box End -->
				</div>
				<!-- Col End -->
			</div>
			<!-- Content Row End -->
		</div>
		<!-- Container End -->
	</section>
	<!-- Working Process End -->


	<section id="tw-service" class="tw-service">
		<div class="container">
			<div class="row text-center">
				<div class="col section-heading">
					<h2>
						<small>Our services</small>
						Our Best
						<span>Services</span>
					</h2>
					<span class="animate-border ml-auto mr-auto tw-mt-20"></span>
				</div>
				<!-- Title Col End -->
			</div>
			<!-- Title Row End -->
			<div class="row">
				<div class="col-md-4 text-center">
					<div class="tw-service-box">
						<div class="service-icon service-icon-bg-1 d-table">
							<div class="service-icon-inner d-table-cell">
								<img src="/homepage/images/icon/service1.png" alt="search engine" class="img-fluid">
							</div>
						</div>
						<!-- Service icon end -->
						<div class="service-content">
							<h3>SEO Optimization</h3>
							<p>One of the top 100 advertising and marketing agencies knows what it means to be</p>
							<a href="#" class="tw-readmore">Read More
								<i class="fa fa-angle-right"></i>
							</a>
						</div>
						<!-- Service Content end -->
					</div>
					<!-- Service box end -->
				</div>
				<!-- Col End -->
				<div class="col-md-4 text-center">
					<div class="tw-service-box">
						<div class="service-icon service-icon-bg-2 d-table">
							<div class="service-icon-inner d-table-cell">
								<img src="/homepage/images/icon/service2.png" alt="search engine" class="img-fluid">
							</div>
						</div>
						<!-- Service icon end -->
						<div class="service-content">
							<h3>Content Marketing</h3>
							<p>One of the top 100 advertising and marketing agencies knows what it means to be</p>
							<a href="#" class="tw-readmore">Read More
								<i class="fa fa-angle-right"></i>
							</a>
						</div>
						<!-- Service content end -->
					</div>
					<!-- Service box End -->
				</div>
				<!-- Col End -->
				<div class="col-md-4 text-center">
					<div class="tw-service-box">
						<div class="service-icon service-icon-bg-3 d-table">
							<div class="service-icon-inner d-table-cell">
								<img src="/homepage/images/icon/service3.png" alt="search engine" class="img-fluid">
							</div>
						</div>
						<!-- Service Icon End -->
						<div class="service-content">
							<h3>Data Analysis</h3>
							<p>One of the top 100 advertising and marketing agencies knows what it means to be</p>
							<a href="#" class="tw-readmore">Read More
								<i class="fa fa-angle-right"></i>
							</a>
						</div>
						<!-- Service content end -->
					</div>
					<!-- Service box End -->
				</div>
				<!-- Col end -->
			</div>
			<!-- Row end -->
			<div class="tw-mb-105"></div>
			<div class="row">
				<div class="col-md-4 text-center">
					<div class="tw-service-box">
						<div class="service-icon service-icon-bg-4 d-table">
							<div class="service-icon-inner d-table-cell">
								<img src="/homepage/images/icon/service4.png" alt="search engine" class="img-fluid">
							</div>
						</div>
						<!-- Service icon end -->
						<div class="service-content">
							<h3>Digital Marketing</h3>
							<p>One of the top 100 advertising and marketing agencies knows what it means to be</p>
							<a href="#" class="tw-readmore">Read More
								<i class="fa fa-angle-right"></i>
							</a>
						</div>
						<!-- Service content end -->
					</div>
					<!-- Service Box end -->
				</div>
				<!-- Col end -->
				<div class="col-md-4 text-center">
					<div class="tw-service-box">
						<div class="service-icon service-icon-bg-5 d-table">
							<div class="service-icon-inner d-table-cell">
								<img src="/homepage/images/icon/service5.png" alt="search engine" class="img-fluid">
							</div>
						</div>
						<!-- Service icon end -->
						<div class="service-content">
							<h3>Web Analytics</h3>
							<p>One of the top 100 advertising and marketing agencies knows what it means to be</p>
							<a href="#" class="tw-readmore">Read More
								<i class="fa fa-angle-right"></i>
							</a>
						</div>
						<!-- Service content end -->
					</div>
					<!-- Service box end -->
				</div>
				<!-- Row End -->
				<div class="col-md-4 text-center">
					<div class="tw-service-box">
						<div class="service-icon service-icon-bg-6 d-table">
							<div class="service-icon-inner d-table-cell">
								<img src="/homepage/images/icon/service6.png" alt="search engine" class="img-fluid">
							</div>
						</div>
						<!-- Service Icon end-->
						<div class="service-content">
							<h3>Social Marketing</h3>
							<p>One of the top 100 advertising and marketing agencies knows what it means to be</p>
							<a href="#" class="tw-readmore">Read More
								<i class="fa fa-angle-right"></i>
							</a>
						</div>
						<!-- Service Content end -->
					</div>
					<!-- Service box end-->
				</div>
				<!-- Col end -->
			</div>
			<!-- Row End -->
		</div>
		<!-- container -->
	</section>
	<!-- Tw Service End -->

	<section id="tw-mission" class="tw-mission testimonial-default-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mission-carousel owl-carousel carousel-black-dots">
						<div class="row">
							<div class="col-md-6 mr-auto align-self-md-center">
								<img src="/homepage/images/about/our_mission.png" alt="" class="img-fluid">
							</div>
							<!-- Col End -->
							<div class="col-md-6">
								<div class="mission-body">
									<div class="mission-title tw-mb-40">
										<h2 class="column-title text-black">Our Mission</h2>
										<span class="animate-border bg-white border-yellow tw-mt-20"></span>
									</div>
									<p>
										Start working with an company that can provide everything you need to generate awareness, drive traffic,
										connect with customers,
										and increase sales nascetur ridiculus mus. massa quis enim. Donec pede justo.
									</p>
								</div>
							</div>
							<!-- Col End -->
						</div>
						<!-- Content Row End -->
						<div class="row">
							<div class="col-md-6 mr-auto align-self-md-center">
								<img src="/homepage/images/about/our_mission.png" alt="" class="img-fluid">
							</div>
							<!-- Col End -->
							<div class="col-md-6">
								<div class="mission-body">
									<div class="mission-title tw-mb-40">
										<h2 class="column-title text-black">Our Mission</h2>
										<span class="animate-border bg-white border-yellow tw-mt-20"></span>
									</div>
									<p>
										Start working with an company that can provide everything you need to generate awareness, drive traffic,
										connect with customers,
										and increase sales nascetur ridiculus mus. massa quis enim. Donec pede justo.
									</p>
								</div>
							</div>
							<!-- Col End -->
						</div>
						<!-- Content Row End -->
						<div class="row animated fadeIn">
							<div class="col-md-6 mr-auto align-self-md-center">
								<img src="/homepage/images/about/our_mission.png" alt="" class="img-fluid">
							</div>
							<!-- Col End -->
							<div class="col-md-6">
								<div class="mission-body">
									<div class="mission-title tw-mb-40">
										<h2 class="column-title text-black">Our Mission</h2>
										<span class="animate-border bg-white border-yellow tw-mt-20"></span>
									</div>
									<p>
										Start working with an company that can provide everything you need to generate awareness, drive traffic,
										connect with customers,
										and increase sales nascetur ridiculus mus. massa quis enim. Donec pede justo.
									</p>
								</div>
							</div>
							<!-- Col End -->
						</div>
						<!-- Content Row End -->
					</div>
					<!-- Mission Carousel End -->
				</div>
				<!-- Col End -->
			</div>
			<!-- Row End -->
		</div>
		<!-- Container End -->
	</section>
	<!-- Mission End -->

	<section id="tw-team" class="tw-team">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section-heading tw-mb-80">
						<h2>
							<small>our team</small>
							Our Best <span>Experts</span>
						</h2>
						<span class="animate-border tw-mt-20 ml-auto mr-auto"></span>
					</div>
				</div>
				<!-- Title Col end -->
			</div>
			<!-- Title row End -->
			<div class="row">
				<div class="col-md-3">
					<div class="tw-team-box">
						<div class="team-img">
							<img src="/homepage/images/team/expert1.png" alt="" class="img-fluid bg-orange">
						</div>
						<div class="team-info">
							<h3 class="team-name">Matthew Hunter</h3>
							<p class="team-designation">Marketing Head</p>
							<div class="team-social-links">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
						<!-- Team Info end -->
					</div>
					<!-- Team Box End -->
				</div>
				<!-- Col End -->
				<div class="col-md-3">
					<div class="tw-team-box">
						<div class="team-img">
							<img src="/homepage/images/team/expert2.png" alt="" class="img-fluid bg-green">
						</div>
						<div class="team-info">
							<h3 class="team-name">Donna Estrada</h3>
							<p class="team-designation">Vice President</p>
							<div class="team-social-links">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
						<!-- Team Info end -->
					</div>
					<!-- Team Box End -->
				</div>
				<!-- Col End -->
				<div class="col-md-3">
					<div class="tw-team-box">
						<div class="team-img">
							<img src="/homepage/images/team/expert3.png" alt="" class="img-fluid bg-yellow">
						</div>
						<div class="team-info">
							<h3 class="team-name">Harold Hopkins</h3>
							<p class="team-designation">Hiring Manager</p>
							<div class="team-social-links">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
						<!-- Team Info end -->
					</div>
					<!-- Team Box End -->
				</div>
				<!-- Col End -->
				<div class="col-md-3">
					<div class="tw-team-box">
						<div class="team-img">
							<img src="/homepage/images/team/expert4.png" alt="" class="img-fluid bg-blue">
						</div>
						<div class="team-info">
							<h3 class="team-name">Rose Salazar</h3>
							<p class="team-designation">Advisor</p>
							<div class="team-social-links">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
						<!-- Team Info end -->
					</div>
					<!-- Team Box End -->
				</div>
				<!-- Col End -->
			</div>
			<!-- Content Row End -->
		</div>
		<!-- Container end -->
	</section>
	<!-- Team Section End -->


	<section id="tw-case" class="tw-case">
		<div class="container">
			<div class="row text-center">
				<div class="col section-heading">
					<h2>
						<small>Success Stories</small>
						Our
						<span>Case Study</span>
					</h2>
					<!-- End Section Title -->
					<span class="animate-border border-offwhite ml-auto mr-auto tw-mt-20"></span>
				</div>
				<!-- End Col -->
			</div>
			<!-- End Row -->
			<div class="row">
				<div class="col-md-4 text-center">
					<div class="tw-case-study-box">
						<div class="case-img study-bg-1">
							<img src="/homepage/images/cases/case-study1.png" alt="" class="img-fluid">
						</div>
						<!-- End case img -->
						<div class="casestudy-content">
							<a href="#">
								<h4>Web Traffic Management</h4>
							</a>
							<p>SEO, Marketing</p>
						</div>
						<!-- End case study content -->
					</div>
					<!-- End case study box -->
				</div>
				<!-- End Col -->
				<div class="col-md-4 text-center">
					<div class="tw-case-study-box">
						<div class="case-img study-bg-2">
							<img src="/homepage/images/cases/case-study2.png" alt="" class="img-fluid">
						</div>
						<div class="casestudy-content">
							<a href="#">
								<h4>Web Traffic Management</h4>
							</a>
							<p>SEO, Marketing</p>
						</div>
						<!-- End case study content -->
					</div>
					<!-- End case study box -->
				</div>
				<!-- End Col -->
				<div class="col-md-4 text-center">
					<div class="tw-case-study-box">
						<div class="case-img study-bg-3">
							<img src="/homepage/images/cases/case-study3.png" alt="" class="img-fluid">
						</div>
						<div class="casestudy-content">
							<a href="#">
								<h4>Web Traffic Management</h4>
							</a>
							<p>SEO, Marketing</p>
						</div>
						<!-- End case study content -->
					</div>
					<!-- End case study box -->
				</div>
				<!-- End col -->
				<div class="col-md-12 text-center"><a href="#" class="btn btn-primary btn-lg tw-mt-80">view all</a></div>
			</div>
			<!-- End Row -->
		</div>
		<!-- Container End -->
	</section>
	<!-- TW case end -->


	<section id="tw-pricing-three" class="tw-pricing">
		<div class="container">
			<div class="row">
				<div class="col section-heading text-center">
					<h2>
						<small>Pricing Table</small>
						Our <span>Pricing</span>
					</h2>
					<span class="animate-border ml-auto mr-auto tw-mt-20"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="tw-price-box bg-shrock">
						<div class="pricing-feaures">
							<div class="pricing-price">
								<sup>$</sup>
								<strong>49.99</strong>
								<small>/mo</small>
							</div>
							<!-- Pricing End -->
							<h3>Starter Plan</h3>
							<ul>
								<li>25 Analytics Compaign</li>
								<li>1,300 Keywords</li>
								<li>25 social media reviews</li>
								<li>1 Free Optimization</li>
							</ul>
						</div>
						<!-- Pricing Features End -->
						<a href="#" class="btn btn-dark tw-mt-30">buy now</a>
					</div>
					<!--  pricing box ends -->
				</div>
				<!-- COl end -->
				<div class="col-lg-3 col-md-6">
					<div class="tw-price-box bg-orange">
						<div class="pricing-feaures">
							<div class="pricing-price">
								<sup>$</sup>
								<strong>69.99</strong>
								<small>/mo</small>
							</div>
							<!-- Pricing End -->
							<h3>Starter Plan</h3>
							<ul>
								<li>25 Analytics Compaign</li>
								<li>1,300 Keywords</li>
								<li>25 social media reviews</li>
								<li>1 Free Optimization</li>
							</ul>
						</div>
						<!-- Pricing Features End -->
						<a href="#" class="btn btn-dark tw-mt-30">buy now</a>
					</div>
					<!--  pricing box ends -->
				</div>
				<!-- COl end -->
				<div class="col-lg-3 col-md-6">
					<div class="tw-price-box bg-green">
						<div class="pricing-feaures">
							<div class="pricing-price">
								<sup>$</sup>
								<strong>99.99</strong>
								<small>/mo</small>
							</div>
							<!-- Pricing End -->
							<h3>Advanced Plan</h3>
							<ul>
								<li>25 Analytics Compaign</li>
								<li>1,300 Keywords</li>
								<li>25 social media reviews</li>
								<li>1 Free Optimization</li>
							</ul>
						</div>
						<!-- Pricing Features End -->
						<a href="#" class="btn btn-dark tw-mt-30">buy now</a>
					</div>
					<!--  pricing box ends -->
				</div>
				<!-- COl end -->
				<div class="col-lg-3 col-md-6">
					<div class="tw-price-box bg-blue">
						<div class="pricing-feaures">
							<div class="pricing-price">
								<sup>$</sup>
								<strong>99.99</strong>
								<small>/mo</small>
							</div>
							<!-- Pricing End -->
							<h3>Advanced Plan</h3>
							<ul>
								<li>25 Analytics Compaign</li>
								<li>1,300 Keywords</li>
								<li>25 social media reviews</li>
								<li>1 Free Optimization</li>
							</ul>
						</div>
						<!-- Pricing Features End -->
						<a href="#" class="btn btn-dark tw-mt-30">buy now</a>
					</div>
					<!--  pricing box ends -->
				</div>
				<!-- COl end -->
			</div>
			<!-- Tab pane end -->
		</div>
		<!-- End Container -->
	</section>
	<!-- End Pricing -->


	<section id="tw-testimonial-bg" class="tw-testimonial-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="testimonial-box-carousel owl-carousel">
						<div class="tw-testimonial-box">
							<div class="testimonial-bg testimonial-bg-orange">
								<div class="testimonial-icon">
									<img src="/homepage/images/icon-image/testimonial1.png" alt="" class="img-fluid">
								</div>
							</div>
							<!-- End Testimonial bg -->
							<div class="testimonial-meta">
								<h4>
									Jason Stattham
									<small>CEO Microhost</small>
								</h4>
							</div>
							<!-- End Testimonial Meta -->
							<div class="testimonial-text">
								<p>One of the top 100 advertising more of marketing agencies knows what into an means to be the best</p>
								<i class="icon icon-quote2"></i>
							</div>
							<!-- End testimonial text -->
						</div>
						<!-- End Tw testimonial wrapper -->
						<div class="tw-testimonial-box">
							<div class="testimonial-bg testimonial-bg-green">
								<div class="testimonial-icon">
									<img src="/homepage/images/icon-image/testimonial1.png" alt="" class="img-fluid">
								</div>
							</div>
							<!-- End Testimonial bg -->
							<div class="testimonial-meta">
								<h4>
									Jason Stattham
									<small>CEO Microhost</small>
								</h4>
							</div>
							<!-- End Testimonial Meta -->
							<div class="testimonial-text">
								<p>One of the top 100 advertising more of marketing agencies knows what into an means to be the best</p>
								<i class="icon icon-quote2"></i>
							</div>
							<!-- End testimonial text -->
						</div>
						<!-- End Tw testimonial wrapper -->
						<div class="tw-testimonial-box">
							<div class="testimonial-bg testimonial-bg-yellow">
								<div class="testimonial-icon">
									<img src="/homepage/images/icon-image/testimonial1.png" alt="" class="img-fluid">
								</div>
							</div>
							<!-- End Testimonial bg -->
							<div class="testimonial-meta">
								<h4>
									Jason Stattham
									<small>CEO Microhost</small>
								</h4>
							</div>
							<!-- End Testimonial Meta -->
							<div class="testimonial-text">
								<p>One of the top 100 advertising more of marketing agencies knows what into an means to be the best</p>
								<i class="icon icon-quote2"></i>
							</div>
							<!-- End testimonial text -->
						</div>
						<!-- End Tw testimonial wrapper -->
						<div class="tw-testimonial-box">
							<div class="testimonial-bg testimonial-bg-yellow">
								<div class="testimonial-icon">
									<img src="/homepage/images/icon-image/testimonial1.png" alt="" class="img-fluid">
								</div>
							</div>
							<!-- End Testimonial bg -->
							<div class="testimonial-meta">
								<h4>
									Jason Stattham
									<small>CEO Microhost</small>
								</h4>
							</div>
							<!-- End Testimonial Meta -->
							<div class="testimonial-text">
								<p>One of the top 100 advertising more of marketing agencies knows what into an means to be the best</p>
								<i class="icon icon-quote2"></i>
							</div>
							<!-- End testimonial text -->
						</div>
						<!-- End Tw testimonial wrapper -->
						<div class="tw-testimonial-box">
							<div class="testimonial-bg testimonial-bg-yellow">
								<div class="testimonial-icon">
									<img src="/homepage/images/icon-image/testimonial1.png" alt="" class="img-fluid">
								</div>
							</div>
							<!-- End Testimonial bg -->
							<div class="testimonial-meta">
								<h4>
									Jason Stattham
									<small>CEO Microhost</small>
								</h4>
							</div>
							<!-- End Testimonial Meta -->
							<div class="testimonial-text">
								<p>One of the top 100 advertising more of marketing agencies knows what into an means to be the best</p>
								<i class="icon icon-quote2"></i>
							</div>
							<!-- End testimonial text -->
						</div>
						<!-- End Tw testimonial wrapper -->
						<div class="tw-testimonial-box">
							<div class="testimonial-bg testimonial-bg-yellow">
								<div class="testimonial-icon">
									<img src="/homepage/images/icon-image/testimonial1.png" alt="" class="img-fluid">
								</div>
							</div>
							<!-- End Testimonial bg -->
							<div class="testimonial-meta">
								<h4>
									Jason Stattham
									<small>CEO Microhost</small>
								</h4>
							</div>
							<!-- End Testimonial Meta -->
							<div class="testimonial-text">
								<p>One of the top 100 advertising more of marketing agencies knows what into an means to be the best</p>
								<i class="icon icon-quote2"></i>
							</div>
							<!-- End testimonial text -->
						</div>
						<!-- End Tw testimonial wrapper -->
						<div class="tw-testimonial-box">
							<div class="testimonial-bg testimonial-bg-yellow">
								<div class="testimonial-icon">
									<img src="/homepage/images/icon-image/testimonial1.png" alt="" class="img-fluid">
								</div>
							</div>
							<!-- End Testimonial bg -->
							<div class="testimonial-meta">
								<h4>
									Jason Stattham
									<small>CEO Microhost</small>
								</h4>
							</div>
							<!-- End Testimonial Meta -->
							<div class="testimonial-text">
								<p>One of the top 100 advertising more of marketing agencies knows what into an means to be the best</p>
								<i class="icon icon-quote2"></i>
							</div>
							<!-- End testimonial text -->
						</div>
						<!-- End Tw testimonial wrapper -->
						<div class="tw-testimonial-box">
							<div class="testimonial-bg testimonial-bg-yellow">
								<div class="testimonial-icon">
									<img src="/homepage/images/icon-image/testimonial1.png" alt="" class="img-fluid">
								</div>
							</div>
							<!-- End Testimonial bg -->
							<div class="testimonial-meta">
								<h4>
									Jason Stattham
									<small>CEO Microhost</small>
								</h4>
							</div>
							<!-- End Testimonial Meta -->
							<div class="testimonial-text">
								<p>One of the top 100 advertising more of marketing agencies knows what into an means to be the best</p>
								<i class="icon icon-quote2"></i>
							</div>
							<!-- End testimonial text -->
						</div>
						<!-- End Tw testimonial wrapper -->
						<div class="tw-testimonial-box">
							<div class="testimonial-bg testimonial-bg-yellow">
								<div class="testimonial-icon">
									<img src="/homepage/images/icon-image/testimonial1.png" alt="" class="img-fluid">
								</div>
							</div>
							<!-- End Testimonial bg -->
							<div class="testimonial-meta">
								<h4>
									Jason Stattham
									<small>CEO Microhost</small>
								</h4>
							</div>
							<!-- End Testimonial Meta -->
							<div class="testimonial-text">
								<p>One of the top 100 advertising more of marketing agencies knows what into an means to be the best</p>
								<i class="icon icon-quote2"></i>
							</div>
							<!-- End testimonial text -->
						</div>
						<!-- End Tw testimonial wrapper -->
					</div>
					<!-- Col end -->
				</div>
				<!-- Row End -->
			</div>
			<!-- Carousel End -->
		</div>
		<!-- Container End -->
	</section>
	<!-- Testimonial end -->


	<% include partials/footer %>
	<!-- End Footer -->

	<!-- Javascripts File
      =============================================================================-->
	<% include partials/scripts %>
</body>

<!-- Mirrored from demo.themewinter.com/html/seobin/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 05 Jan 2019 01:04:42 GMT -->

</html>