<div class="admin-navbar" id="headerMenuCollapse">
  <div class="container">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="/admin">
          <i class="fa fa-tachometer"></i>
          <span> Home</span>
        </a>
      </li>
      <li class="nav-item drpdown">
        <a class="nav-link" href="/admin/doi"><i class="fa fa-bar-chart"></i> <span>Quản lý thí sinh</span></a>
          <div class="dropdown-content">
            <a href="/admin/doi/trang-thai">Trạng Thái Đóng Tiền</a>
            <a href="/admin/doi">Điểm Các Vòng Thi</a>
            <a href="/admin/passround-1">Qua vòng 1</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/bai-viet"><i class="fa fa-window-maximize"></i> <span>Quản lý bài viết</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/nha-tai-tro"><i class="fa fa-window-maximize"></i> <span>Nhà tài trợ</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/de-thi"><i class="fa fa-window-maximize"></i> <span>Quản lý đề thi</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/cong-tac-vien"><i class="fa fa-window-maximize"></i> <span>Quản lý nhân sự</span></a>
      </li>
      <li class="nav-item drpdown">
        <a class="nav-link" href="#"><i class="fa fa-apple"></i> <span>Thông báo</span></a>
        <div class="dropdown-content">
          <a href="/admin/thong-bao-all">Thông báo tất cả mọi người</a>
          <a href="/admin/thong-bao-specify">Thông báo đến đội được chỉ định</a>
        </div>
      </li>
    </ul>
  </div>
</div>
