<div class="admin-navbar" id="headerMenuCollapse">
  <div class="container">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">
          <i class="fa fa-tachometer"></i>
          <span> Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/san-pham"><i class="fa fa-bar-chart"></i> <span>Quản lý thí sinh</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="/admin/bai-viet"><i class="fa fa-window-maximize"></i> <span>Quản lý bài viết</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="/admin/de-thi"><i class="fa fa-window-maximize"></i> <span>Quản lý đề thi</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="/admin/cong-tac-vien"><i class="fa fa-window-maximize"></i> <span>Quản lý nhân sự</span></a>
      </li>
    </ul>
  </div>
</div>