<div class="row row-cards">
    <div class="col-sm-12 col-lg-6 col-xl-3">
        <div class="card card-img-holder">
            <div class="card-body list-icons">
                <div class="clearfix">
                    <div class="float-left  mt-2">
                        <span class="text-warning ">
                            <i class="si si-basket-loaded "></i>
                        </span>
                    </div>
                    <div class="float-right text-right">
                        <p class="card-text text-muted font-weight-semibold mb-1">Thí Sinh</p>
                        <h2>656</h2>
                    </div>
                </div>
                <div class="card-footer p-0">
                    <p class="text-muted mb-0 pt-4"><i class="si si-arrow-down-circle text-warning mr-1" aria-hidden="true"></i>Tổng số thí sinh</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-6 col-xl-3">
        <div class="card card-img-holder">
            <div class="card-body list-icons">
                <div class="clearfix">
                    <div class="float-left  mt-2">
                        <span class="text-success ">
                            <i class="si si-credit-card "></i>
                        </span>
                    </div>
                    <div class="float-right text-right">
                        <p class="card-text text-muted font-weight-semibold mb-1">CTV</p>
                        <h2>1</h2>
                    </div>
                </div>
                <div class="card-footer p-0">
                    <p class="text-muted mb-0 pt-4"><i class="si si-arrow-up-circle text-success mr-1"></i>Số CTV</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-6 col-xl-3">
        <div class="card card-img-holder">
            <div class="card-body list-icons">
                <div class="clearfix">
                    <div class="float-left  mt-2">
                        <span class="text-info ">
                            <i class="si si-chart"></i>
                        </span>
                    </div>
                    <div class="float-right text-right">
                        <p class="card-text text-muted font-weight-semibold mb-1">Tiền</p>
                        <h2>2</h2>
                    </div>
                </div>
                <div class="card-footer p-0">
                    <p class="text-muted mb-0 pt-4"><i class="si si-exclamation text-info mr-1" ></i>Tổng tiền đã Thu</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-6 col-xl-3">
        <div class="card card-img-holder">
            <div class="card-body list-icons">
                <div class="clearfix">
                    <div class="float-left  mt-2">
                        <span class="text-primary ">
                            <i class="si si-social-facebook "></i>
                        </span>
                    </div>
                    <div class="float-right text-right">
                        <p class="card-text text-muted font-weight-semibold mb-1">Bài Viết</p>
                        <h2>65</h2>
                    </div>
                </div>
                <div class="card-footer p-0">
                    <p class="text-muted mb-0 pt-4"><i class="si si-check mr-1 text-primary" ></i>Số bài viết</p>
                </div>
            </div>
        </div>
    </div>
</div>