<div class="offcanvas-menu">
	<div class="offcanvas-menu-overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="offcanvas-wrapper">
					<div class="offcanvas-inner">
						<a href="#" class="logo">
							<img src="/homepage/images/logo/logo.png" alt="">
						</a>
						<p style="text-align: justify;">- Một cuộc thi học thuật nhằm giúp các sinh viên tham gia hiểu
							được cơ bản một dự án lập trình web. <br>
							- Giúp sinh viên chuẩn bị, làm quen với môi trường làm việc ở các công ty.<br> 
							- Nhân rộng, định hướng cho sinh viên có đam mê về mảng lập trình
							web.<br> 
							- Hoàn thành tiêu chí “Học tập tốt” trong các chỉ tiêu hoàn
							thành “Sinh viên 5 tốt”.
						</p>
						<div class="row">
							<div class="col-md-12">
								<div class="contact-us">
									<div class="contact-icon">
										<i class="icon icon-map2"></i>
									</div>
									<!-- End contact Icon -->
									<div class="contact-info">
										<h3>Địa chỉ</h3>
										<p style="text-align: justify">Trường ĐH Công nghệ Thông tin - ĐHQG-HCM, khu phố 6, phường Linh Trung, quận Thủ Đức, TP.HCM</p>
									</div>
									<!-- End Contact Info -->
								</div>
								<!-- End Contact Us -->
							</div>
							<!-- End Col -->
							<div class="col-md-12">
								<div class="contact-us">
									<div class="contact-icon">
										<i class="icon icon-phone3"></i>
									</div>
									<!-- End contact Icon -->
									<div class="contact-info">
										<h3>+84932680505</h3>
										<p>Give a call</p>
									</div>
									<!-- End Contact Info -->
								</div>
								<!-- End Contact Us -->
							</div>
							<!-- End Col -->
							<div class="col-md-12">
								<div class="contact-us">
									<div class="contact-icon">
										<i class="icon icon-envelope3"></i>
									</div>
									<!-- End contact Icon -->
									<div class="contact-info">
										<h3>xinchao@webdevstudios.org</h3>
										<p>24/7 online support</p>
									</div>
									<!-- End Contact Info -->
								</div>
								<!-- End Contact Us -->
							</div>
							<!-- End Col -->
						</div>
						<!-- End Contact Row -->
						<div class="footer-social-link">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
						<div class="menu-subscribe">
								<div class="form-row">
									<div class="col tw-footer-form">
									</div>
								</div>
						</div>
					</div>
					<!-- Offcanvas inner end -->
					<button class="menu-close-btn"><i class="fa fa-close"></i></button>
				</div>
				<!-- Offcanvas wrapper end -->
			</div>
			<!-- Col End -->
		</div>
		<!-- Row End -->
	</div>
	<!-- Container End -->
</div>
<!-- Off canvas menu End -->