<footer class="clearfix">
  <div class="container">
    <p>© 2019 Made By WebdevStudios - CLB Lập trình web UIT</p>
    <ul>
      <li><a href="/about-us" class="animated_link">AboutUs</a></li>
      <li><a href="/lien-he" class="animated_link">Contacts</a></li>
    </ul>
  </div>
  <br>
  <div class="container">
    <!--Logo các nhà tài trợ-->
    <h3>Các nhà tài trợ</h3>
    <img src="homepage/img/favicon.ico" style="width: 30px; height: 30px; margin: 20px;" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
    <img src="homepage/img/favicon.ico" style="width: 30px; height: 30px; margin: 20px;" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
    <img src="homepage/img/favicon.ico" style="width: 30px; height: 30px; margin: 20px;" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
    <img src="homepage/img/favicon.ico" style="width: 30px; height: 30px; margin: 20px;" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
    <img src="homepage/img/favicon.ico" style="width: 30px; height: 30px; margin: 20px;" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
    <img src="homepage/img/favicon.ico" style="width: 30px; height: 30px; margin: 20px;" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
    <img src="homepage/img/favicon.ico" style="width: 30px; height: 30px; margin: 20px;" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
    
  </div>
</footer>