<div class="tw-hero-slider owl-carousel">

		<div class="slider-1">
			<!-- Slider arrow end -->
			<div class="slider-wrapper d-table">
				<div class="slider-inner d-table-cell">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-md-6">
								<img src="/homepage/images/slider/slider4.png" alt="" class="img-fluid slider-img">
							</div>
							<!-- Col end -->
							<div class="col-md-6">
								<div class="slider-content">
									<h1>Digital <span>Marketing</span> Solution </h1>
									<p>Start working with an company that provide everything you need to generate awareness, drive traffic,
										connect with customers, and increase sales montes</p>
									<a href="#" class="btn btn-primary">Free Analysis</a>
								</div>
								<!-- End Slider Content -->
							</div>
							<!-- col end -->
						</div>
						<!-- Row End -->
					</div>
					<!-- COntainer End -->
				</div>
				<!-- Slider Inner End -->
			</div>
			<!-- Slider Wrapper End -->
		</div>
		<!-- Slider 1 end -->

		<div class="slider-2">
			<div class="slider-wrapper d-table">
				<div class="slider-inner d-table-cell">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-md-6">
								<div class="slider-content">
									<h1>We are Creating Custom
										<span>SEO</span>
									</h1>
									<p>Start working with an company that provide everything you need to generate awareness, drive traffic,
										connect with customers, and increase sales montes</p>
									<a href="#" class="btn btn-dark">Free Analysis</a>
								</div>
							</div>
							<!-- Col end -->
							<div class="col-md-6">
								<img src="/homepage/images/slider/slider2.png" alt="" class="img-fluid slider-img">
							</div>
							<!-- col end -->
						</div>
						<!-- Row End -->
					</div>
					<!-- Container End -->
				</div>
				<!-- Slider Inner End -->
			</div>
			<!-- Slider Wrapper End -->
		</div>
		<!-- Slider 2 end -->
		<div class="slider-3">
			<div class="slider-wrapper d-table">
				<div class="slider-inner d-table-cell">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-md-6">
								<img src="/homepage/images/slider/slider3.png" alt="" class="img-fluid slider-img">
							</div>
							<!-- col end -->
							<div class="col-md-6">
								<div class="slider-content">
									<h1>We are Creating Custom
										<span>SEO</span>
									</h1>
									<p>Start working with an company that provide everything you need to generate awareness, drive traffic,
										connect with customers, and increase sales montes</p>
									<a href="#" class="btn btn-dark">Free Analysis</a>
								</div>
							</div>
							<!-- Col end -->
						</div>
						<!-- Row End -->
					</div>
					<!-- Container End -->
				</div>
				<!-- Slider Inner End -->
			</div>
			<!-- Slider Wrapper End -->
		</div>
		<!-- Slider 3 end -->
	</div>