        <!-- Hidden Bar -->
        <section class="hidden-bar right-align">
            
            <div class="hidden-bar-closer">
                <button class="btn"><i class="fa fa-close"></i></button>
            </div>
            <!-- Hidden Bar Wrapper -->
            <div class="hidden-bar-wrapper">
            
                <!-- .logo -->
                <div class="logo text-center">
                    <a href="/"><img src="/homepage/images/logo-2.png" alt=""></a>			
                </div><!-- /.logo -->
                
                <!-- .Side-menu -->
                <div class="side-menu">
                <!-- .navigation -->
                    <ul class="navigation">
                        <ul class="navigation">
                            <li class="current dropdown"><a href="/">trang chủ</a>
                                <ul>
                                    <li><a href="index.html">sản phẩm của chúng tôi </a></li>
                                    <li><a href="/tin-tuc">tin tức nổi bật</a></li>
                                    <li><a href="index-3.html">ủng hộ chúng tôi </a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="/cua-hang">cửa hàng</a>
                                <ul>
                                    <li><a href="shop.html">Đồ handmade</a></li>
                                    <li><a href="shop-single.html">Bánh mứt</a></li>
                                    <li><a href="shopping-cart.html">Giỏ hàng</a></li>
                                </ul>
                            </li>
                            <li><a href="contact-us.html">liên hệ </a></li>
                        </ul>
                    </ul>
                </div><!-- /.Side-menu -->
            
                <div class="social-icons">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            
            </div><!-- / Hidden Bar Wrapper -->
        </section><!-- / Hidden Bar -->