        <!-- Preloader -->
        <div class="preloader"></div>
        
        <!-- Main Header -->
        <header class="main-header">
            <!-- Top Bar -->
            
            
            <!-- Lower Section -->
            <div class="lower-section">
                <div class="auto-container">
                    
                    <!--Outer Box-->
                    <div class="outer-box clearfix">
                    
                        <!-- Logo -->
                        <div class="logo">
                            <a href="/"><img src="/homepage/images/logo1.2.png" alt="Alone" title="Alone"></a>
                         </div>
                         
                         <div class="clearfix hidden"></div>
                         
                        <!-- Hidden Nav Toggler -->
                        <div class="nav-toggler">
                        <button class="hidden-bar-opener"><span class="icon fa fa-bars"></span></button>
                        </div><!-- / Hidden Nav Toggler -->
                         
                         
                        <!--Cart Box-->
                        <div class="cart-box">
                            <!--Cart Btn-->
                            <div class="cart-btn">
                            	<span class="cart-icon fa fa-shopping-cart"></span> giỏ hàng (<span id="cart-number-item">0</span>)
                                <span class="down-arrow"><span class="fa fa-caret-down"></span></span>
                            </div>
                            
                            <!--Cart Dropdown-->
                            <div class="cart-dropdown" id="cart-dropdown-wrapper">
                                                                
                                <div class="cart-footer">
                                	<div class="clearfix">
                                        <div class="col-md-6 col-xs-6 text-left column">Tổng tiền</div>
                                        <div class="col-md-6 col-xs-6 text-right column"><span class="price-total" id="total-price">0</span>VNĐ</div>
                                    </div>
                                    <a href="/gio-hang" class="theme-btn proceed-btn">Kiểm tra đơn hàng</a>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            
                            <div class="navbar-header">
                                <!-- Toggle Button -->    	
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation">
                                    <li class="current dropdown"><a href="/">trang chủ</a>
                                        <ul>
                                            <li><a href="index.html">sản phẩm của chúng tôi </a></li>
                                            <li><a href="/tin-tuc">tin tức nổi bật</a></li>
                                            <li><a href="index-3.html">ủng hộ chúng tôi </a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="/cua-hang">cửa hàng</a>
                                        <ul>
                                            <li><a href="shop.html">Đồ handmade</a></li>
                                            <li><a href="shop-single.html">Bánh mứt</a></li>
                                            <li><a href="shopping-cart.html">Giỏ hàng</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact-us.html">liên hệ </a></li>
                                </ul>
                            </div>
                        </nav><!-- Main Menu End-->
                        
                    </div>
                </div>
            </div><!-- Lower Section End-->
            
        </header><!--End Main Header -->