<div class="tw-top-bar tw-top-bar-angle bg-offwhite">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-left">
        <div class="top-contact-info">
          <span><i class="icon icon-phone3"></i>+84932680505</span>
          <span><i class="icon icon-envelope"></i>xinchao@webdevstudios.org</span>
        </div>
      </div>
      <!-- Col End -->
      <div class="col-md-4 ml-auto text-right">
        <div class="top-social-links">
          <span>Follow us:</span>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
      <!-- Col End -->
    </div>
    <!-- Row End -->
  </div>
  <!-- Container End -->
</div>

<!-- Top Bar end -->

<div class="search-bar">
  <i class="fa fa-close"></i>
  <form class="search-bar-fixed" action="#">
    <input type="text" placeholder="search...">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
</div>
<!--End Search bar -->

<header>
  <div class="tw-header">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand tw-nav-brand" href = "#">
          <img  src="/homepage/images/logo/logo.png" alt="Logo" width="auto" height="auto" >
        </a>
        <!-- End of Navbar Brand -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- End of Navbar toggler -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/">Trang chủ</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" data-toggle="dropdown">
                Giới thiệu
                <span class="tw-indicator"><i class="fa fa-angle-down"></i></span>
              </a>
              <ul class="dropdown-menu tw-dropdown-menu">
                <li><a href="/about">About Us</a></li>
                <li><a href="/ke-hoach">Kế hoạch</a></li>
                <li><a href="/the-le">Thể lệ - Luật thi đấu</a></li>
                <li><a href="/cham-diem">Quy chế chấm bài</a></li>
                <li><a href="/lien-he">Liên hệ chúng tôi</a></li>
              </ul>
              <!-- End of Dropdown menu -->
            </li>
            <!-- End Dropdown -->
            <li class="nav-item"><a class="nav-link" href="/bai-viet">Bài viết</a></li>
            <li class="nav-item"><a class="nav-link" href="/submit">Submit</a></li>
              <% if(teamLogin) { %>
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" data-toggle="dropdown">
                  Xin chào, "<%- teamLogin.teamName %>"
                  <span class="tw-indicator"><i class="fa fa-angle-down"></i></span>
                  <ul class="dropdown-menu tw-dropdown-menu">
                    <li class=""><a class="" href="/thong-tin-doi">Thông tin đội</a></li>
                    <li class=""><a class="" href="/dang-xuat">Đăng xuất</a></li>
                  </ul>
                </a>
              <% } else { %>
               <li class="nav-item"><a class="nav-link" href="/dang-ki">Đăng kí!</a></li>
               <li class="nav-item"><a class="nav-link" href="/dang-nhap">Đăng nhập</a></li>
              <% } %>
          </ul>
          <!-- End Navbar Nav -->
        </div>
        <!-- End of navbar collapse -->
        <div class="navbar tw-offcanvas-menu d-none d-md-block">
          <i class="fa fa-search"></i>
          <div class="tw-menu-bar inline-menu">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <!-- End of offcanvas -->
      </nav>
      <!-- End of Nav -->
    </div>
    <!-- End of Container -->
  </div>
  <!-- End tw head -->
</header>