<!--Post Content-->
<div class="post-content">
    <!--Post Date-->
    <div class="post-date">
        <div class="day">
            <%- item.createdDate.getDate() %>
        </div>
        <div class="month">
            <%- item.createdDate.toLocaleString("en-US", { month: "long" }) %>
        </div>
    </div>
    <div class="post-title">
        <h2><a href="#">
                <%- item.title %></a></h2>
    </div>
    <!--Post Info-->
    <ul class="post-info">
        <li><span class="icon fa fa-user"></span> By <a href="#">John Doe</a></li>
    </ul>

    <!--Post Text-->
    <div class="post-text">
        <%- item.sortContent %>
    </div>

    <a href="#" class="theme-btn btn-style-one">Chi tiết</a>

</div>